- if service.errors.any?
  - service.errors.full_messages.each do |message|
    .alert.alert-danger.alert-dismissable
      button.close[type="button" data-dismiss="alert" aria-hidden="true"]
      = message

= form_for(service, :html => {class: 'form-horizontal form-row-seperated'}) do |f|
  .portlet.light
    .portlet-title
      .caption
        span.caption-subject.font-green-sharp.bold.uppercase
          = service.id ? "#{service.title}" : "Новая услуга"

      = render partial: 'layouts/common/form/actions', :locals => {:model => service}
    .portlet-body
      .form-group
        label.col-md-2.control-label
          | Название: 
        .col-md-10
          = f.text_field :title, :class=>'form-control'
      .form-group
        label.col-md-2.control-label
          | Класс: 
        .col-md-10
          = f.text_field :class_name, :class=>'form-control'