.portlet.light
  .portlet-title
    .caption class=("caption-md" if params[:controller] == 'admin')
      i.fa.fa-building-o.font-green-sharp
      span.caption-subject.font-green-sharp.bold.uppercase Услуги
    - if params[:controller] == 'admin'
      .actions
        = link_to new_service_path, class: "btn btn-circle btn-icon-only btn-default", "data-target"=>"#modal", "data-toggle"=>"modal" do
          i.fa.fa-plus
  .portlet-body
    div class=("scroller" if params[:controller] == 'admin') style=("height: 305px;" if params[:controller] == 'admin') data-always-visible=1 data-rail-visible1=0 data-handle-color="#D7DCE2"
      .table-scrollable.table-scrollable-borderless
        table.table.table-hover.table-light#services_list
          thead
            tr.uppercase
              th
                | ID
              th
                | Название
              th
                | Класс
          tbody
            - services.each do |service|
              tr
                td
                  = link_to service.id, edit_service_path(service), :class => 'primary-link', "data-target"=>"#modal", "data-toggle"=>("modal" if params[:controller] != 'services')
                td
                  = service.title
                td
                  = service.class_name