- if lead_source.errors.any?
  - lead_source.errors.full_messages.each do |message|
    .alert.alert-danger.alert-dismissable
      button.close[type="button" data-dismiss="alert" aria-hidden="true"]
      = message

= form_for(lead_source, :html => {class: 'form-horizontal form-row-seperated'}) do |f|
  .portlet.light
    .portlet-title
      .caption
        span.caption-subject.font-green-sharp.bold.uppercase
          = lead_source.id ? "#{lead_source.title}" : "Новый источник клиентов"

      = render partial: 'layouts/common/form/actions', :locals => {:model => lead_source}
    .portlet-body
      .form-group
        label.col-md-2.control-label
          | Название: 
        .col-md-10
          = f.text_field :title, :class=>'form-control'