.portlet.light
  .portlet-title
    .caption class=("caption-md" if params[:controller] == 'admin')
      i.fa.fa-phone.font-green-sharp
      span.caption-subject.font-green-sharp.bold.uppercase Источники клиентов
    - if params[:controller] == 'admin'
      .actions
        = link_to new_lead_source_path, class: "btn btn-circle btn-icon-only btn-default", "data-target"=>"#modal", "data-toggle"=>"modal" do
          i.fa.fa-plus
  .portlet-body
    div class=("scroller" if params[:controller] == 'admin') style=("height: 305px;" if params[:controller] == 'admin') data-always-visible=1 data-rail-visible1=0 data-handle-color="#D7DCE2"
      .table-scrollable.table-scrollable-borderless
        table.table.table-hover.table-light#lead_sources_list
          thead
            tr.uppercase
              th
                | ID
              th
                | Название
          tbody
            - lead_sources.each do |lead_source|
              tr
                td
                  = link_to lead_source.id, edit_lead_source_path(lead_source), :class => 'primary-link', "data-target"=>"#modal", "data-toggle"=>("modal" if params[:controller] != 'lead_sources')
                td
                  = lead_source.title