h1 Listing lead_sources

table
  thead
    tr
      th Title
      th
      th
      th

  tbody
    - @lead_sources.each do |lead_source|
      tr
        td = lead_source.title
        td = link_to 'Show', lead_source
        td = link_to 'Edit', edit_lead_source_path(lead_source)
        td = link_to 'Destroy', lead_source, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Room type', new_lead_source_path
