h2 = "#{['Описание', 'Характеристики'].sample} #{['БЦ', 'ДЦ', 'делового центра', 'бизнес центра'].sample} #{bc.title}"
p
  | #{['БЦ', 'ДЦ', 'Деловой центр', 'Бизнес центр'].sample} #{bc.title} #{['расположен', 'находится', 'располагается'].sample} #{['на', 'по адресу -'].sample} #{bc.address}#{bc.regions.any? && regionsDecl[bc.regions.first.id] ? ", #{regionsDecl[bc.regions.first.id].singular('где')} районе #{['СПб', 'Петербурга', 'Санкт-Петербурга', 'города Санкт-Петербург'].sample}" : ''}.
    #{metroSentence}
    #{['Важно', 'Немаловажно', 'Вам будет интересно то'].sample}, что #{bc.title} #{['расположен', 'находится', 'располагается'].sample} рядом с #{['важными', 'популярными'].sample} магистралями города #{['СПб', 'Петербурга', 'Санкт-Петербурга', 'города Санкт-Петербург'].sample}, это #{['позволит', 'даст возможность'].sample}, при аренде #{['офиса', 'коммерческого помещения', 'помещения'].sample}, #{['быстро', 'просто'].sample} добраться до #{['центра', 'центра города'].sample} или других районов.
h2 = "Технические особенности #{['БЦ', 'ДЦ', 'делового центра', 'бизнес центра'].sample} #{bc.title}"
p
  | #{['БЦ', 'ДЦ', 'Деловой центр', 'Бизнес центр'].sample} #{bc.title} #{['является объектом класса', 'относится к классу', 'соответствует классу'].sample} #{bc.grade} и #{['соответствует всем стандартам своего класса', 'полностью соответствует своему классу', 'соответствует всем стандартам  качества'].sample}.
    #{servicesSentence}
h2 = "Информация по аренде #{['офиса', 'помещения', 'коммерческого помещения'].sample} в #{['БЦ', 'ДЦ', 'делового центра', 'бизнес центра'].sample} #{bc.title}"
p
  | #{['Услуги телефонной связи', 'Услуги интернета', 'Услуги широкополосного доступа в интернет'].sample} #{['предлагаются', 'предоставляются', 'устанавливаются'].sample} компанией #{bc.title}.#{areaSentence}