- if status.errors.any?
  - status.errors.full_messages.each do |message|
    .alert.alert-danger.alert-dismissable
      button.close[type="button" data-dismiss="alert" aria-hidden="true"]
      = message

= form_for(status, :html => {class: 'form-horizontal form-row-seperated'}) do |f|
  .portlet.light
    .portlet-title
      .caption
        span.caption-subject.font-green-sharp.bold.uppercase
        	= status.id ? "Сатус #{status.id}" : "Новый статус"

      = render partial: 'layouts/common/form/actions', :locals => {:model => status}
    .portlet-body
      .form-group
        label.col-md-2.control-label
          | Сортировка: 
        .col-md-10
          = f.number_field :sort, :class=>'form-control'
      .form-group
        label.col-md-2.control-label
          | Название: 
        .col-md-10
          = f.text_field :name, :class=>'form-control'
      .form-group
        label.col-md-2.control-label
          | Цвет: 
        .col-md-10.dropdown
          = f.hidden_field :color
          - if status.color
            span.picker_toggle data-toggle="dropdown" class=(status.color) data-id=(status.id ? status.id : 'new')
          - else
            span.picker_toggle data-toggle="dropdown" data-id=(status.id ? status.id : 'new') выбрать
          #colorPicker.dropdown-menu.theme-panel
            h3
              | ВЫБЕРИТЕ ЦВЕТ
            table
              tr
                td
                  ul.theme-colors
                    li.theme-color
                      span.theme-color-view.bg-blue
                    li.theme-color
                      span.theme-color-view.bg-blue-hoki
                    li.theme-color
                      span.theme-color-view.bg-blue-steel
                    li.theme-color
                      span.theme-color-view.bg-blue-madison
                    li.theme-color
                      span.theme-color-view.bg-blue-chambray
                    li.theme-color
                      span.theme-color-view.bg-blue-ebonyclay


                td
                  ul.theme-colors
                    li.theme-color
                      span.theme-color-view.bg-green
                    li.theme-color
                      span.theme-color-view.bg-green-meadow
                    li.theme-color
                      span.theme-color-view.bg-green-seagreen
                    li.theme-color
                      span.theme-color-view.bg-green-turquoise
                    li.theme-color
                      span.theme-color-view.bg-green-haze
                    li.theme-color
                      span.theme-color-view.bg-green-jungle
                td
                  ul.theme-colors
                    li.theme-color
                      span.theme-color-view.bg-red
                    li.theme-color
                      span.theme-color-view.bg-red-pink
                    li.theme-color
                      span.theme-color-view.bg-red-sunglo
                    li.theme-color
                      span.theme-color-view.bg-red-intense
                    li.theme-color
                      span.theme-color-view.bg-red-thunderbird
                    li.theme-color
                      span.theme-color-view.bg-red-flamingo
                td
                  ul.theme-colors
                    li.theme-color
                      span.theme-color-view.bg-yellow
                    li.theme-color
                      span.theme-color-view.bg-yellow-gold
                    li.theme-color
                      span.theme-color-view.bg-yellow-casablanca
                    li.theme-color
                      span.theme-color-view.bg-yellow-crusta
                    li.theme-color
                      span.theme-color-view.bg-yellow-lemon
                    li.theme-color
                      span.theme-color-view.bg-yellow-saffron
                td
                  ul.theme-colors
                    li.theme-color
                      span.theme-color-view.bg-purple
                    li.theme-color
                      span.theme-color-view.bg-purple-plum
                    li.theme-color
                      span.theme-color-view.bg-purple-medium
                    li.theme-color
                      span.theme-color-view.bg-purple-studio
                    li.theme-color
                      span.theme-color-view.bg-purple-wisteria
                    li.theme-color
                      span.theme-color-view.bg-purple-seance
                td
                  ul.theme-colors
                    li.theme-color
                      span.theme-color-view.bg-grey
                    li.theme-color
                      span.theme-color-view.bg-grey-cascade
                    li.theme-color
                      span.theme-color-view.bg-grey-silver
                    li.theme-color
                      span.theme-color-view.bg-grey-steel
                    li.theme-color
                      span.theme-color-view.bg-grey-cararra
                    li.theme-color
                      span.theme-color-view.bg-grey-gallery