.portlet.light
  .portlet-title
    .caption class=("caption-md" if params[:controller] == 'admin')
      i.fa.fa-th-list.font-green-sharp
      span.caption-subject.font-green-sharp.bold.uppercase Статусы
    - if params[:controller] == 'admin'
      .actions
        = link_to new_status_path, class: "btn btn-circle btn-icon-only btn-default", "data-target"=>"#modal", "data-toggle"=>"modal" do
          i.fa.fa-plus
  .portlet-body
    div class=("scroller" if params[:controller] == 'admin') style=("height: 305px;" if params[:controller] == 'admin') data-always-visible=1 data-rail-visible1=0 data-handle-color="#D7DCE2"
      .table-scrollable.table-scrollable-borderless
        table.table.table-hover.table-light#statuses_list
          thead
            tr.uppercase
              th
                | ID
              th
                | Сортировка
              th
                | Цвет
              th
                | Статус
          tbody
            - statuses.each do |status|
              tr
                td
                  = link_to status.id, edit_status_path(status), :class => 'primary-link', "data-target"=>"#modal", "data-toggle"=>("modal" if params[:controller] != 'users')
                td
                  = status.sort
                td.dropdown
                  - if status.color
                    span.picker_toggle data-toggle="dropdown" class=(status.color) data-id=(status.id)
                  - else
                    span.picker_toggle data-toggle="dropdown" data-id=(status.id ? status.id : 'new') нет
                td
                  = status.name