.portlet.light
	.portlet-title.tabbable-line
		.caption.caption-md
			i.fa.fa-reply.font-green-sharp
			span.caption-subject.font-green-sharp.bold.uppercase
				| Экспорт

		ul.nav.nav-tabs
			li.active
				a href="#tab_export" data-toggle="tab"
					| Экспорт
			li
				a href="#tab_import" data-toggle="tab"
					| Импорт
	.portlet-body
		.tab-content
			.tab-pane.active id="tab_export"
				div class="scroller" style="height: 305px;" data-always-visible=1 data-rail-visible1=0 data-handle-color="#D7DCE2"
					ul.list-group
						li.list-group-item
							| Бизнес центры
							.pull-right.text-right
								= link_to "csv", business_centers_path(format: "csv"), class: "btn btn-xs grey-cascade"
								| &nbsp;
								= link_to "excel", business_centers_path(format: "xls"), class: "btn btn-xs grey-cascade"
						li.list-group-item
							| Клиенты
							.pull-right.text-right
								= link_to "csv", leads_path(format: "csv"), class: "btn btn-xs grey-cascade"
								| &nbsp;
								= link_to "excel", leads_path(format: "xls"), class: "btn btn-xs grey-cascade"
			.tab-pane id="tab_import"
				div class="scroller" style="height: 305px;" data-always-visible=1 data-rail-visible1=0 data-handle-color="#D7DCE2"
					ul.list-group
						li.list-group-item
							| Бизнес центры
							.pull-right.text-right
								= form_tag import_business_centers_path, multipart: true do
								  = file_field_tag(:file, {:requred => true, class: "hidden", onchange: "$(this).next().addClass('hidden').next().removeClass('hidden')"})
								  = link_to "выбрать", '#', onclick: "$(this).prev().click()", class: "btn btn-xs grey-cascade"
								  | &nbsp;
								  = submit_tag "импортировать", class: "btn btn-xs red hidden"
						li.list-group-item
							| Клиенты
							.pull-right.text-right
								= form_tag import_leads_path, multipart: true do
								  = file_field_tag(:file, {:requred => true, class: "hidden", onchange: "$(this).next().addClass('hidden').next().removeClass('hidden')"})
								  = link_to "выбрать", '#', onclick: "$(this).prev().click()", class: "btn btn-xs grey-cascade"
								  | &nbsp;
								  = submit_tag "импортировать", class: "btn btn-xs red hidden"