#fixed-filter
	.toggle.rotate
		i.fa.fa-filter.font-blue-hoki
		| &nbsp;
		span.caption-subject.bold.font-blue-hoki.uppercase Фильтр
	.portlet.light.bg-inverse.bordered
		.portlet-body
			= form_for_filterrific(@filterrific) do |f|
				.form-body
					.scroller style="height:70px"
						.form-group
							= f.label "Дата создания клиента:", class: "control-label"
							= f.text_field :with_created_at_between, class: 'form-control input-sm input-daterange'

					.text-right style="padding-top:8px"
						.pull-left
							= render_filterrific_spinner
						= link_to "Сбросить", reset_filterrific_url, class:"remove btn btn-sm default"
						| &nbsp;
						button.btn.btn-sm.blue-hoki type="submit" Применить