.row
	.col-md-6
		= render partial: 'users/list', locals: { users: User.all }
	.col-md-6
		= render partial: 'export'
.row
	.col-md-12
		= render partial: 'activities/list', locals: { activities: PublicActivity::Activity.order("created_at desc").limit(10) }
.row
	.col-md-6
		= render partial: 'cities/list', locals: { cities: City.all }
	.col-md-6
		= render partial: 'statuses/list', locals: { statuses: Status.all }
.row
	.col-md-6
		= render partial: 'lead_sources/list', locals: { lead_sources: LeadSource.all }
	.col-md-6
		= render partial: 'room_types/list', locals: { room_types: RoomType.all }
.row
	.col-md-6
		= render partial: 'services/list', locals: { services: Service.all }
	.col-md-6
		= render partial: 'pages/list', locals: { pages: Page.all }