= include_gon
= render partial: 'statistics_filter', locals: { filterrific: @filterrific }


.portlet.light
  .portlet-title
    .caption.caption-md
      i.fa.fa-bar-chart-o.font-green-sharp
      span.caption-subject.font-green-sharp.bold.uppercase Клиенты по месяцам
  .portlet-body
		#leads_by_day_legendPlaceholder
		#leads_by_day.chart

.portlet.light
  .portlet-title
    .caption.caption-md
      i.fa.fa-bar-chart-o.font-green-sharp
      span.caption-subject.font-green-sharp.bold.uppercase Клиенты по статусу
  .portlet-body
		#leads_by_status_legendPlaceholder
		#leads_by_status.chart

.portlet.light
  .portlet-title
    .caption.caption-md
      i.fa.fa-bar-chart-o.font-green-sharp
      span.caption-subject.font-green-sharp.bold.uppercase Источники клиентов по количеству
  .portlet-body
  	.row
  		.col-md-7.col-md-offset-1
				#lead_sources_by_clients style="height: 400px"
  		.col-md-4
  			.form-group.scroller style="height: 400px;" data-always-visible=1 data-rail-visible1=0 data-handle-color="#D7DCE2"
  				#lead_sources.checkbox-list
  					- @lead_sources_by_clients.each_with_index do |data, i|
  						label
  							= check_box_tag(:name, data[:label], i < 3)
  							= data[:label]
  							spab.badge.badge-success.pull-right
  								= data[:data]

