- if notification.errors.any?
  - notification.errors.full_messages.each do |message|
    .alert.alert-danger.alert-dismissable
      button.close[type="button" data-dismiss="alert" aria-hidden="true"]
      = message

= form_for(notification, :html => {class: 'form-horizontal form-row-seperated'}) do |f|
  .portlet.light
    .portlet-title
      .caption
        i.fa.fa-group.font-green-sharp
        span.caption-subject.font-green-sharp.bold.uppercase
          = "Напоминание #{notification.id}" || "Новое напоминание"
      = render partial: 'layouts/common/form/actions', :locals => {:model => notification}
    .portlet-body
      .form-group
        = f.label :notify_at, class: "col-md-2 control-label"
        .col-md-4
          .input-group.date.form_datetime
            = f.text_field :notify_at, :value => notification.notify_at ? l(notification.notify_at, :format => '%d %B %Y - %H:%M') : nil, :class=>'form-control', :readonly => "readonly", size:"16"
            span.input-group-btn
              button.btn.default.date-set type="button"
                i.fa.fa-calendar

      .form-group
        = f.label :text, class: "col-md-2 control-label"
        .col-md-10
          = f.text_area :text, :class=>'form-control'

      .form-group
        = f.label :lead_id, class: "col-md-2 control-label"
        .col-md-10
          = f.text_field :lead_id, {:class=>'form-control', "data-ajax--url" => "/leads_select", "data-ajax--cache" => "true"}

      - if current_user.is_admin
        .form-group
          = f.label :user_id, class: "col-md-2 control-label"
          .col-md-10
            = f.collection_select :user_id, User.where('id != ?', current_user.id), :id, :first_name, {:include_blank => "Я"}, {:class => 'form-control input-medium'}