.table-scrollable
  table#notifications_list.table.table-hover.table-bordered
    thead
      tr
        th ID
        th Время
        th Текст
        th Клиент
        th Создатель
        - if current_user.is_admin
          th Исполнитель
    tbody
      - @notifications.each do |notification|
        tr
          td = link_to notification.id, edit_notification_path(notification), "data-target"=>"#modal", "data-toggle"=>"modal"
          td = time_tag notification.notify_at, {:format=>'%d %B %Y, %H:%M', class: 'text-muted'}
          td = notification.text
          td = link_to notification.lead.title, edit_lead_url(notification.lead), "data-target"=>"#modal", "data-toggle"=>"modal" if notification.lead
          td = (notification.creator.id != current_user.id ? notification.creator.first_name : 'Я') if notification.creator
          - if current_user.is_admin
            td = notification.user ? notification.user.first_name : 'Я'

= paginate @notifications if not @notifications.empty?