.portlet.light
  .portlet-body
    .table-toolbar
      .btn-group
        = link_to new_notification_path, :class => "btn btn-sm green", "data-target"=>"#modal", "data-toggle"=>"modal" do
          | Создать 
          i.fa.fa-plus
    = render partial: 'list', locals: { notifications: @notifications }