p#notice = notice

p
  strong Notify at:
  = @notification.notify_at
p
  strong Text:
  = @notification.text
p
  strong Lead:
  = @notification.lead
p
  strong User:
  = @notification.user
p
  strong Creator:
  = @notification.creator_id

= link_to 'Edit', edit_notification_path(@notification)
'|
= link_to 'Back', notifications_path
