- if user.errors.any?
  - user.errors.full_messages.each do |message|
    .alert.alert-danger.alert-dismissable
      button.close[type="button" data-dismiss="alert" aria-hidden="true"]
      = message

= form_for(user, :html => {class: 'form-horizontal form-row-seperated'}) do |f|
  .portlet.light
    .portlet-title
      .caption
        i.fa.fa-user.font-green-sharp
        span.caption-subject.font-green-sharp.bold.uppercase
          = user.first_name || "Новый пользователь"
      = render partial: 'layouts/common/form/actions', :locals => {:model => user}
    .portlet-body
      .form-group
        label.col-md-2.control-label
          | Enail: 
          span.required
            |  * 
        .col-md-10
          = f.text_field :email, :class=>'form-control', :required => true
      .form-group
        label.col-md-2.control-label
          | Пароль: 
          span.required
            |  * 
        .col-md-10
          = f.password_field :password, :class=>'form-control placeholder-no-fix', :placeholder=>'Пароль', :autocomplete => "off"
      .form-group
        label.col-md-2.control-label
          | Имя:
        .col-md-10
          = f.text_field :first_name, :class=>'form-control'
      .form-group
        label.col-md-2.control-label
          | Фамилия:
        .col-md-10
          = f.text_field :last_name, :class=>'form-control'
      .form-group
        label.col-md-2.control-label
          | Администратор:
        .col-md-10
          .checkbox-list
            label.checkbox-inline
              = f.check_box :is_admin
      .form-group
        = f.label :cities, class: "col-md-2 control-label"
        .col-md-10
          = hidden_field_tag "user[city_ids][]"
          .checkbox-list
            - City.all.each do |cities|
              label
                = check_box_tag("user[city_ids][]", cities.id, cities.id.in?(user.city_ids))
                = cities.title
      .form-group
        label.col-md-2.control-label
          | Аватар
        .col-md-10
          = f.file_field :avatar
          p.help-block изображение будет обрезано.
