.portlet.light
  .portlet-title
    .caption class=("caption-md" if params[:controller] == 'admin')
      i.fa.fa-user.font-green-sharp
      span.caption-subject.font-green-sharp.bold.uppercase Пользователи
    - if params[:controller] == 'admin'
      .actions
        = link_to new_user_path, class: "btn btn-circle btn-icon-only btn-default", "data-target"=>"#modal", "data-toggle"=>"modal" do
          i.fa.fa-plus
  .portlet-body
    div class=("scroller" if params[:controller] == 'admin') style=("height: 305px;" if params[:controller] == 'admin') data-always-visible=1 data-rail-visible1=0 data-handle-color="#D7DCE2"
      .table-scrollable.table-scrollable-borderless
        table.table.table-hover.table-light#users_list
          thead
            tr.uppercase
              th
                | ID
              th colspan="2" 
                | Имя
              th
                | E-mail
              th
                | Последений вход
          tbody
            - users.each do |user|
              tr
                td
                  = user.id
                td.fit
                  = image_tag user.avatar.url(:table), class: 'user-pic'
                td
                  = link_to user.first_name, edit_user_path(user), :class => 'primary-link', "data-target"=>"#modal", "data-toggle"=>("modal" if params[:controller] != 'users')
                td
                  = user.email
                td
                  span.bold.theme-font = user.current_sign_in_at.strftime '%d.%m.%Y, %H:%M' if user.current_sign_in_at