tr data-id=(business_center.id)
  td.wid5
    h4
      = link_to edit_business_center_path(business_center), class: 'link_no_style bold' , "data-target"=>"#modal", "data-toggle"=>"modal" do
        span.font-red-thunderbird
          = business_center.title[0]
        = business_center.title[1..-1]
      | &nbsp;
      span.label.label-info = business_center.grade
      .pull-right
        = link_to business_center, class: "btn btn-xs btn-default", target: "_blank", title: "Показать на карте", data: {toggle: "tooltip", placement: "bottom"} do
          i.fa.fa-map-marker
        = link_to edit_business_center_path(business_center), title: "В отдельной вкладке", data: {toggle: "tooltip", placement: "bottom"}, class: "btn btn-xs btn-default", target: '_blank' do
          i.fa.fa-external-link
        - if admin?
          = link_to business_center, {method: :delete, title: "Удалить", data: {confirm: "Вы уверены?", toggle: "tooltip", placement: "bottom"}, class: "btn btn-xs btn-default"} do
            i.fa.fa-trash
        = link_to "#", class: "btn btn-xs btn-default bc-hide", title: "Скрыть", data: {toggle: "tooltip", placement: "bottom"} do
          i.fa.fa-eye-slash
        span.badge class=(business_center[:percent_color] == 1 ? 'badge-success' : 'badge-danger')
          = business_center.percent
          - if business_center.percent =~ /\A[-+]?[0-9]*\.?[0-9]+\Z/
            | %
      br
      = time_tag business_center.updated_at, {:format=>'%d %B %Y, %H:%M', class: 'text-muted'} if business_center.updated_at

    .row
      .col-md-6
        - if business_center.images.any?
          - business_center.images.each_with_index do |asset, i|
            = link_to asset.image.url(:original), class: "gallery", rel: "group_#{business_center.id}" do
              = image_tag asset.image.url(:medium), class: ("hidden" if i != 0)
        - else
          = image_tag 'no-photo-bc.jpg'
      .col-md-6
        strong = business_center.regions.map(&:title).join(', ')
        br
        = business_center.address
        div.margin-top-10
        - business_center.bc_metro_distances.each do |dist|
          div
            i.fa.fa-subway[style="color: #{dist.metro.color}"]
            | &nbsp;
            = dist.metro.title
            - if dist.distance =~ /\A[-+]?[0-9]*\.?[0-9]+\Z/
              = " - #{dist.distance} мин"
            - elsif not dist.distance.blank?
              = " - #{dist.distance}"
        end
        - if business_center.business_center_service.length
          ul.margin-top-10
            - business_center.business_center_service.each do |business_center_service|
              li
                = business_center_service.service.title
                - if not business_center_service.desc.blank?
                  | &nbsp;
                  small.text-muted = "(#{business_center_service.desc})"
            end

  td.wid3
    table.table.table-light.bc_rooms
      thead
        tr
          th
            | м
            sup 2
          th style="word-break: break-all;"
            | р/м
            sup 2
          th этаж
          th тип
      tbody
        tr.hidden
          td
            span class="btn btn-xs default" data-emptytext="-" data-model="business_center" data-name=("area") data-type="text" data-value="" data-placeholder="площадь" data-url=(business_center_path(business_center)) data-nested="rooms"
          td
            span class="btn btn-xs default" data-emptytext="-" data-model="business_center" data-name=("price") data-type="text" data-value="" data-placeholder="цена" data-url=(business_center_path(business_center)) data-nested="rooms"
          td
            span class="btn btn-xs default" data-emptytext="-" data-model="business_center" data-name=("floor") data-type="text" data-value="" data-placeholder="этаж" data-url=(business_center_path(business_center)) data-nested="rooms"
          td
            span class="btn btn-xs default" data-emptytext="-" data-model="business_center" data-name=("room_type_id") data-type="select" data-value="" data-placeholder="тип" data-url=(business_center_path(business_center)) data-source=(Hash[*RoomType.pluck(:id, :title).flatten].to_json) data-nested="rooms"
              = '-'
        - rooms = business_center.rooms.sort_by { |a| [a.area ? 1 : 0, a.area] }
        - if defined? filterrificz
          - rooms = rooms.reject { |a| a.area.nil? || a.area < filterrific.with_rooms_area_gt } if !filterrific.nil? && !filterrific.with_rooms_area_gt.nil?
          - rooms = rooms.reject { |a| a.area.nil? || a.area > filterrific.with_rooms_area_lt } if !filterrific.nil? && !filterrific.with_rooms_area_lt.nil?
        - rooms.each_with_index do |room, i|
          tr
            td
              span class="editable btn btn-xs default" data-emptytext="-" data-model="business_center" data-name=("area") data-type="text" data-value=(room.area) data-placeholder="площадь" data-url=(business_center_path(business_center)) data-nested="rooms" data-nid=(room.id)
            td
              span class="editable btn btn-xs default" data-emptytext="-" data-model="business_center" data-name=("price") data-type="text" data-value=(room.price.to_i) data-placeholder="цена" data-url=(business_center_path(business_center)) data-nested="rooms" data-nid=(room.id)
            td
              span class="editable btn btn-xs default" data-emptytext="-" data-model="business_center" data-name=("floor") data-type="text" data-value=(room.floor.to_i) data-placeholder="этаж" data-url=(business_center_path(business_center)) data-nested="rooms" data-nid=(room.id)
            td
              span class="editable btn btn-xs default" data-emptytext="-" data-model="business_center" data-name=("room_type_id") data-type="select" data-value=(room.room_type.id if room.room_type) data-placeholder="тип" data-url=(business_center_path(business_center)) data-source=(Hash[*RoomType.pluck(:id, :title).flatten].to_json) data-nested="rooms" data-nid=(room.id)
                = room.room_type ? room.room_type.title : '-'
              = link_to '#', class: 'remove_room btn btn-xs btn-danger', data: {confirm: "Вы уверены?"}
                i.fa.fa-times
      tfoot
        tr
          td.text-right colspan=4
            a#add_room.btn.btn-xs.btn-default href="#"
              i.fa.fa-plus
                
  td.wid2
    = simple_format business_center.characteristics
  td.wid2.contact
    = simple_format business_center.contacts