#fixed-filter
	.toggle.rotate
		i.fa.fa-filter.font-blue-hoki
		| &nbsp;
		span.caption-subject.bold.font-blue-hoki.uppercase Фильтр
	.portlet.light.bg-inverse.bordered
		.portlet-body
			= form_for_filterrific(@filterrific) do |f|
				.form-body
					.scroller
						.form-group
							= f.text_field :search_query, class: 'form-control input-sm filterrific-periodically-observed', placeholder: "Название, адрес"
						.form-group
							label Площадь
							.row
								.col-md-6
									.input-group.input-group-sm
										= f.text_field :with_rooms_area_gt, {class: 'form-control filterrific-periodically-observed', placeholder: "от"}
										span.input-group-addon
											| м
											sup 2
								.col-md-6
									.input-group.input-group-sm
										= f.text_field :with_rooms_area_lt, {class: 'form-control filterrific-periodically-observed', placeholder: "до"}
										span.input-group-addon
											| м
											sup 2
						.form-group
							label Цена
							.row
								.col-md-6
									.input-group.input-group-sm
										= f.text_field :with_rooms_price_gt, {class: 'form-control filterrific-periodically-observed', placeholder: "от"}
										span.input-group-addon
											| р/м
											sup 2
								.col-md-6
									.input-group.input-group-sm
										= f.text_field :with_rooms_price_lt, {class: 'form-control filterrific-periodically-observed', placeholder: "до"}
										span.input-group-addon
											| р/м
											sup 2

						.form-group
							label
								= f.check_box :work_with_brokers, {class: 'form-control input-sm filterrific-periodically-observed'}
								|  работают с брокерами

						.form-group
							= f.text_field :with_metro_distance_st, {class: 'form-control input-sm filterrific-periodically-observed', id: 'metro_distance_input', placeholder: "Удаленность от метро"}
						.form-group
							| Район
							.checkbox-list
								- @filterrific.select_options[:with_region_id].each do |region|
									label
										= check_box_tag("filterrific[with_region_id][]", region[1], region[1].in?(@filterrific.with_region_id || []))
										= " #{region[0]}"
						.form-group
							| Класс
							.checkbox-list
								- @filterrific.select_options[:with_grade].each do |grade|
									label.checkbox-inline
										= check_box_tag("filterrific[with_grade][]", grade[1], grade[1].in?(@filterrific.with_grade || []))
										= " #{grade[0]}"
						.form-group
							| Тип помещений
							.checkbox-list
								- @filterrific.select_options[:with_rooms_type].each do |room_type|
									label
										= check_box_tag("filterrific[with_rooms_type][]", room_type[1], room_type[1].in?(@filterrific.with_rooms_type || []))
										= " #{room_type[0]}"

					.text-right style="padding-top:8px"
						.pull-left
							= render_filterrific_spinner
						= link_to "Сбросить", reset_filterrific_url, class:"remove btn btn-sm default"
						| &nbsp;
						button.btn.btn-sm.blue-hoki type="submit" Применить