- if business_center.errors.any?
  #error_explanation
    h2
      = pluralize(business_center.errors.count, "error")
      |  prohibited this business_center from being saved:
    ul
      - business_center.errors.full_messages.each do |message|
        li
          = message
= nested_form_for(business_center, :html => {class: 'form-horizontal form-row-seperated'+(business_center.new_record? ? '' : ' bc_ajax_form'), multipart: true}) do |f|
  .portlet.light
    .portlet-title
      .caption
        i.fa.fa-building.font-green-sharp
        span.caption-subject.font-green-sharp.bold.uppercase
          = business_center.title || "Новы бизнес центр"
        | &nbsp;
        span.caption-helper
          = business_center.updated_at.strftime '%d.%m.%Y, %H:%M' if business_center.updated_at
      = render partial: 'layouts/common/form/actions', :locals => {:model => business_center}

    .portlet-body
      .tabbable
        ul.nav.nav-tabs
          li class=("active" if !request.xhr? || params[:action] == 'new')
            a[href="#tab_general" data-toggle="tab"] Общие
          li class=("active" if request.xhr? && params[:action] == 'edit')
            a[href="#tab_rooms" data-toggle="tab"] Помещения
          li
            a[href="#tab_photo" data-toggle="tab"] Фото
          li
            a[href="#tab_site" data-toggle="tab"] Описание
          li
            a[href="#tab_coords" data-toggle="tab"] Координаты
          li
            a[href="#tab_parse_sources" data-toggle="tab"] Источники импорта

        .tab-content.no-space
          #tab_general.tab-pane class=("active" if !request.xhr? || params[:action] == 'new')
            .form-group
              label.col-md-2.control-label
                | Название: 
                span.required
                  |  * 
              .col-md-10
                = f.text_field :title, :class=>'form-control', :required => true
            .form-group
              = f.label :city_id, class: "col-md-2 control-label"
              .col-md-10
                = f.collection_select :city_id, current_user.cities, :id, :title, {}, {:class => 'form-control'}
            .form-group
              label.col-md-2.control-label
                | Адрес: 
              .col-md-10
                = f.text_field :address, :class=>'form-control'
            .form-group
              label.col-md-2.control-label
                | Улица: 
              .col-md-10
                = f.text_field :street, :class=>'form-control'
            .form-group
              label.col-md-2.control-label
                | Номер дома: 
              .col-md-10
                = f.text_field :house_number, :class=>'form-control'
            .form-group
              label.col-md-2.control-label
                | Номер корпуса: 
              .col-md-10
                = f.text_field :house_case, :class=>'form-control'
            .form-group
              label.col-md-2.control-label
                | Литера: 
              .col-md-10
                = f.text_field :house_letter, :class=>'form-control'

            .form-group
              label.control-label.col-md-2 Класс
              .col-md-10
                = f.select :grade, BusinessCenter.grades.keys.to_a, {:include_blank => "Не важно"}, {class: 'form-control'}
            .form-group
              label.control-label.col-md-2 Характеристики
              .col-md-10
                = f.text_area :characteristics, { :class=>'form-control'}
            .form-group
              label.control-label.col-md-2 Процент
              .col-md-10
                = f.text_area :percent, { :class=>'form-control'}
            .form-group
              label.control-label.col-md-2 Цвет процента
              .col-md-10
                = f.select :percent_color, BusinessCenter.percent_colors.keys.to_a, {}, {class: 'form-control'}
            .form-group
              label.control-label.col-md-2 Контакты
              .col-md-10
                = f.text_area :contacts, { :class=>'form-control'}
            .form-group
              label.control-label.col-md-2 Регион
              .col-md-10
                = f.fields_for :business_center_region do |region|
                  .input-group.margin-bottom-10
                    = region.collection_select :region_id, Region.all, :id, :title, {}, {:class => 'form-control input-medium'}
                    = region.link_to_remove class: "btn" do
                      i.fa.fa-times

                = f.link_to_add "Добавить регион", :business_center_region, class: "btn btn-sm btn-default"
            .form-group
              label.control-label.col-md-2 Метро
              .col-md-10
                = f.fields_for :bc_metro_distances do |metro|
                  .input-group.margin-bottom-10
                    = metro.collection_select :metro_id, Metro.all, :id, :title, {}, {:class => 'form-control input-medium'}
                    .input-group
                      = metro.text_field :distance, {:class => 'form-control input-xsmall text-right'}
                      span.input-group-addon мин.
                      .input-group-btn
                        = metro.link_to_remove class: "btn" do
                          i.fa.fa-times

                = f.link_to_add "Добавить метро", :bc_metro_distances, class: "btn btn-sm btn-default"
            .form-group
              label.control-label.col-md-2 Телефон
              .col-md-4
                = f.text_field :phone, { :class=>'form-control'}
            
            .form-group
              label.control-label.col-md-2 Сервисы
              .col-md-10
                = f.fields_for :business_center_service do |service|
                  .input-group.margin-bottom-10
                    = service.collection_select :service_id, Service.all, :id, :title, {}, {:class => 'form-control input-medium'}
                    .input-group
                      = service.text_field :desc, {:class => 'form-control'}
                      .input-group-btn
                        = service.link_to_remove class: "btn" do
                          i.fa.fa-times

                = f.link_to_add "Добавить сервис", :business_center_service, class: "btn btn-sm btn-default"
          #tab_rooms.tab-pane class=("active" if request.xhr? && params[:action] == 'edit')
            .margin-bottom-10
              = link_to '#', class: "btn btn-default parse_source", data: {bc_id: business_center.id} do
                i.fa.fa-arrow-circle-o-down
                |  Импортировать из источников
              = f.link_to_add :rooms, :data => { :target => "#rooms_table tbody" }, class: "btn yellow pull-right" do
                i.fa.fa-plus
                |  Добавить
            .progress.progress-striped.active.hidden
              .progress-bar.progress-bar-info aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"
            .table-scrollable
              table.table.table-bordered.table-hover#rooms_table
                thead
                  tr.heading
                    th Площадь
                    th Цена
                    th Этаж
                    th Тип
                    th Обновлен
                    th
                tbody
                  = f.fields_for :rooms, :wrapper => false do |room|
                    tr.fields class=('success' if room.object.parsed)
                      td
                        = room.text_field :area, class: 'form-control'
                      td
                        = room.text_field :price, class: 'form-control'
                      td
                        = room.text_field :floor, class: 'form-control'
                      td
                        = room.select :room_type_id, RoomType.options_for_select, {:include_blank => "Не выбран"}, class: 'form-control'
                      td
                        - if room.object.updated_at
                          = time_tag room.object.updated_at, {:format=>'%d %B %Y, %H:%M'}
                      td style="vertical-align: middle;"
                        = room.link_to_remove "Удалить"

          #tab_photo.tab-pane
            .form-group
              label.col-md-2.control-label
                | Изображения:
                br
                = f.link_to_add "добавить", :images, { class: "", :data => { :target => "#business_center_images"} }
              .col-md-10
                .row#business_center_images
                  = f.fields_for :images, :wrapper => false do |image|
                    .col-md-2.fields
                      .thumbnail
                        = image_tag(image.object.image.url(:medium), {style: 'height: 78px'})
                      .input-group
                        = image.file_field(:image, {class: "hidden", onchange: "renderImage(this.files[0], $(this).parents('.col-md-2').find('img'))"})
                        = link_to "Выбрать", '#', onclick: "$(this).prev().click(); return false;", class: "btn btn-sm green"
                        = image.link_to_remove class: "btn input-group-btn" do
                          i.fa.fa-times.font-red

          #tab_site.tab-pane
            .form-group
              label.col-md-2.control-label
                | Ссылка:
              .col-md-10
                = f.text_field :slug, :class=>'form-control'
            .form-group
              label.col-md-2.control-label
                | Сортировка:
              .col-md-10
                = f.text_field :sort, :class=>'form-control'
            .form-group
              label.col-md-2.control-label
                | Meta description:
              .col-md-10
                = f.text_field :meta_desc, :class=>'form-control'
            .form-group
              label.col-md-2.control-label
                | Meta keywords:
              .col-md-10
                = f.text_field :meta_keyw, :class=>'form-control'
            .form-group
              label.col-md-2.control-label
                | Кратткое описание:
              .col-md-10
                = f.text_area :short_desc, { :class=>'form-control', :data=> { provider: "summernote" }}
            .form-group
              label.col-md-2.control-label
                | Полное описание:
              .col-md-10
                = f.text_area :description, { :class=>'form-control', :data=> { provider: "summernote" }}

          #tab_coords.tab-pane
            .form-group
              label.col-md-2.control-label
                | Координаты:
                br
                = link_to "#", :id => "change_bc_coords" do
                  i.fa.fa-edit
              .col-md-10
                .input-group
                  = f.text_field :latitude, { :class=>'form-control input-small', :id => 'bc_lat_input', :readonly => "readonly"}
                  = f.text_field :longitude, { :class=>'form-control input-small', :id => 'bc_long_input', :readonly => "readonly"}
                #bc_coords_map.margin-top-10 style="display: none"

          #tab_parse_sources.tab-pane
            .text-align-reverse.margin-bottom-10
              = f.link_to_add :parse_sources, :data => { :target => "#parse_sources_table tbody" }, class: "btn yellow", onclick: "setTimeout(Metronic.initAjax.bind(), 1)" do
                i.fa.fa-plus
                |  Добавить
            .table-scrollable
              table.table.table-bordered.table-hover#parse_sources_table
                thead
                  tr.heading
                    th Ссылка
                    th Активность
                    th
                    th
                tbody
                  = f.fields_for :parse_sources, :wrapper => false do |parse_source|
                    tr.fields
                      td
                        = parse_source.text_field :url, :class=>'form-control input-sm'
                      td style="vertical-align: middle;"
                        = parse_source.check_box :active, class: 'parse_source_active'
                      td
                        = link_to 'Протестировать', '#', class: 'btn btn-sm btn-default parse_source', data: {test: true, bc_id: business_center.id }
                      td
                        = parse_source.link_to_remove "Удалить", class: 'btn'
            .progress.progress-striped.active.hidden
              .progress-bar.progress-bar-info aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"
            table#test_sources.table.table-bordered.table-hover.hidden
              thead
                tr.heading
                  th Площадь
                  th Цена
                  th Этаж
                  th Тип
              tbody

= javascript_include_tag "//api-maps.yandex.ru/2.1/?lang=ru_RU"