.table-scrollable
  table#business_centers.table.table-hover.table-bordered.no_br
    tbody
      - locals = {}
      - if defined? filterrific
      	- locals[:filterrific] = filterrific
      - else
      	- locals[:filterrific] = @filterrific
      - business_centers.each do |business_center|
        - locals[:business_center] = business_center
        = render partial: 'element', locals: locals

- if params[:action] != 'show'
  #ajax_loading_text
  = paginate @business_centers