| <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
Ads formatVersion="2" target="Avito.ru"
  - @rooms.each do |room|
    Ad
      Id = room.id
      Category Коммерческая недвижимость
      ObjectType = room.cian_room_type
      BuildingClass = room.cian_bc_grade
      Region = room.business_center.city.title
      - if !room.business_center.bc_metro_distances.first.nil? && !room.business_center.bc_metro_distances.first.metro.nil?
        Subway = room.business_center.bc_metro_distances.first.metro.title
      OperationType Сдам
      Description 
        = ("Предлагается помещение #{!room.area.nil? && !room.area.zero? ? "#{room.area} м2" : ''}#{!room.floor.blank? ? " на "+room.floor.to_s+" этаже" : ''} в бизнес центре класса #{room.business_center.grade}. Бизнес центр расположен#{!room.business_center.regions.first.nil? ? " в районе #{room.business_center.regions.first.title}," : ''} по адресу #{room.business_center.address.gsub(/([А-ЯA-Z]{2,})/) { |m| m.mb_chars.downcase.to_s}}#{(!room.business_center.bc_metro_distances.first.nil? && !room.business_center.bc_metro_distances.first.metro.nil?) ? ", рядом с метро #{room.business_center.bc_metro_distances.first.metro.title} #{room.business_center.bc_metro_distances.first.distance} мин" : ''}. По всем вопросам обращайтесь по телефону, указанный в объявлении или пишите нам на почту. Для организации просмотра помещений, а также для получения консультации по условиям аренды, позвоните нам. Для вас наши услуги абсолютно БЕСПЛАТНЫ, их оплачивают бизнес-центры. Договор аренды вы заключаете напрямую с собственником. Без скрытых комиссий и платежей.")
      Price = room.area.nil? ? room.price : (room.price.nil? ? room.price : room.price*room.area)
      Street = room.business_center.address
      Square = room.area
      ContactPhone +7 (952) 2874628
      Images
        - room.business_center.images.each do |image|
          Image url=(URI.join(request.url, image.image.url(:original))) /
      AdStatus Free