| <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
emls-realty-feed xmlns="http://emls.ru/schemas/2015-08"
  - @rooms.each do |room|
    - bc = room.business_center
    offer type="rent" id=(room.id)
      location
        region
          id 2
        district
          id 2
        locality
          id = Room.emls_regions.key(bc.regions.first.title)
        - if not bc.street.nil?
          street = bc.street
        - if not bc.house_number.nil?
          house-number = bc.house_number
        - if not bc.house_case.nil?
          house-case = bc.house_case
        - if not bc.house_letter.nil?
          house-letter = bc.house_letter
        - if not bc.latitude.nil?
          latitude = bc.latitude
        - if not bc.longitude.nil?
          longitude = bc.longitude
      sales-agent
        agent-id = room.id
      category 1
      rooms 1
      all-space = room.area
      possible-assignment = 2
      - if not room.floor.nil?
        floor = room.floor
      - if not bc.description.nil?
        description = bc.description
      - if not room.price.nil?
        price-rent = room.price
      price-rent-unit 2