<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">id</Data></Cell>
        <Cell><Data ss:Type="String">Название/title</Data></Cell>
        <Cell><Data ss:Type="String">Адрес/address</Data></Cell>
        <Cell><Data ss:Type="String">Класс/grade</Data></Cell>
        <Cell><Data ss:Type="String">Характеристики/characteristics</Data></Cell>
        <Cell><Data ss:Type="String">Контакты/contacts</Data></Cell>
        <Cell><Data ss:Type="String">Процент/percent</Data></Cell>
        <Cell><Data ss:Type="String">Краткое описание/short_desc</Data></Cell>
        <Cell><Data ss:Type="String">Описание/description</Data></Cell>
        <Cell><Data ss:Type="String">Долгота/latitude</Data></Cell>
        <Cell><Data ss:Type="String">Широта/longitude</Data></Cell>
        <Cell><Data ss:Type="String">Цвет процента/percent_color</Data></Cell>
        <Cell><Data ss:Type="String">Дата создания/updated_at</Data></Cell>
        <Cell><Data ss:Type="String">Дата удаления/created_at</Data></Cell>
      </Row>
    <% @business_centers.each do |business_center| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= business_center.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= business_center.title %></Data></Cell>
        <Cell><Data ss:Type="String"><%= business_center.address %></Data></Cell>
        <Cell><Data ss:Type="String"><%= business_center.grade %></Data></Cell>
        <Cell><Data ss:Type="String"><%= business_center.characteristics %></Data></Cell>
        <Cell><Data ss:Type="String"><%= business_center.contacts %></Data></Cell>
        <Cell><Data ss:Type="String"><%= business_center.percent %></Data></Cell>
        <Cell><Data ss:Type="String"><%= business_center.short_desc %></Data></Cell>
        <Cell><Data ss:Type="String"><%= business_center.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= business_center.latitude %></Data></Cell>
        <Cell><Data ss:Type="String"><%= business_center.longitude %></Data></Cell>
        <Cell><Data ss:Type="String"><%= business_center.percent_color %></Data></Cell>
        <Cell><Data ss:Type="String"><%= business_center.updated_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= business_center.created_at %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>