= content_for :pre_container do
  = render partial: 'map'

= render partial: 'filter', locals: { filterrific: @filterrific }

.portlet.light
  .portlet-body
    .table-toolbar
      .row
        .col-md-6.col-xs-6
          .btn-group
            = link_to new_business_center_path, :class => "btn btn-sm green", "data-target"=>"#modal", "data-toggle"=>"modal" do
              |  Добавить 
              i.fa.fa-plus
        .col-md-6.col-xs-6.text-right
          span.btn.btn-sm.default[onClick="window.print()"]
            | печать &nbsp;
            i.fa.fa-print
          |  
          span.btn.btn-sm.default#map_toggle class=(cookies['map_toggled'] == 'true' ? 'green' : 'grey-cascade')
            | карта &nbsp;
            i.fa.fa-map-marker
    #filterrific_results
      = render partial: 'list', locals: { business_centers: @business_centers, filterrific: @filterrific }

      #ajax_loading_text
      = paginate @business_centers