= content_for :pre_container do
  = render partial: 'map'

.portlet.light
  .portlet-body
     = render partial: 'list', locals: { business_centers: [@business_center] }

= content_for :foot do
  javascript:
    window.business_centers_show = true;