| <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
MassUploadRequest timestamp=(Time.now.to_time.to_i) xmlns="http://assis.ru/ws/api"
    - @rooms.each do |room|
        / Соответствует одному объявлению
        object externalId=(room.id) publish="true"
            / Характеризует тип объявления
            request xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="OfficeRentRequestType"
                / Общие параметры объекта
                - if room.area.to_i == 0
                    - room.area = rand(25..150)
                - if room.price.to_i == 0
                    - room.price = 1000
                common name=("#{room.room_type && room.room_type.title}#{(room.room_type && !room.area.nil? && !room.area.zero?) ? ', ' : '' }#{!room.area.nil? && room.area.zero? ? '' : "площадь #{room.area} м2"}") description="Предлагается помещение #{!room.area.nil? && !room.area.zero? ? "#{room.area} м2" : ''}#{!room.floor.blank? ? " на "+room.floor.to_s+" этаже" : ''} в бизнес центре класса #{room.business_center.grade}. Бизнес центр расположен#{!room.business_center.regions.first.nil? ? " в районе #{room.business_center.regions.first.title}," : ''} по адресу #{room.business_center.address.gsub(/([А-ЯA-Z]{2,})/) { |m| m.mb_chars.downcase.to_s}}#{(!room.business_center.bc_metro_distances.first.nil? && !room.business_center.bc_metro_distances.first.metro.nil?) ? ", рядом с метро #{room.business_center.bc_metro_distances.first.metro.title} #{room.business_center.bc_metro_distances.first.distance} мин" : ''}. #{room.business_center.characteristics.gsub(/ ([A-Za-z0-9]+\.ru)/, '').gsub(/([А-ЯA-Z]{2,})/) { |m| m.mb_chars.downcase.to_s}}
По всем вопросам обращайтесь по телефону, указанный в объявлении или пишите нам на почту." ownership="AGENT" currency="RUR" square="#{room.area.to_i}" price=(room.price.to_i*room.area.to_i > 1000 ? room.price.to_i*room.area.to_i : 1000) commissionType="PERCENT"
                	/ Адрес объекта
                    address
                        street xsi:type="SimpleStreetType" name=(room.business_center.city.title.to_s+' '+room.business_center.address.to_s) /
                    / Опционально
                    - room.business_center.images.each do |image|
                        photos description=(room.business_center.title) url=(URI.join(request.url, image.image.url(:original))) /
                    / Контактные данные
                    contactInfo name="Максим" phone="79531408294" email="info@sim-sol.ru" company="Простые Решения" /
                / Специальные параметры объекта
                specific buildingClass="#{room.business_center.zipal_grade}" sublease="false" layout="FREE" buildingType="OFFICE_BUILDING" vatIncluded="1"
                  feature ANY_INET_PROVIDER
                  feature INTERNET
                  feature ACCESS_CONTROL