#fixed-filter
	.toggle.rotate
		i.fa.fa-filter.font-blue-hoki
		| &nbsp;
		span.caption-subject.bold.font-blue-hoki.uppercase Фильтр
	.portlet.light.bg-inverse.bordered
		.portlet-body
			= form_for_filterrific(@filterrific) do |f|
				.form-body
					.scroller style="height:365px"
						= hidden_field(:filterrific, :with_manager_id, {class: 'filterrific-periodically-observed', id: 'manager_filter_val'})
						.form-group
							label Сортировка по
							.input-group
								= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {}, {:class => "form-control input-sm"})
						.form-group
							= f.text_field :search_query, class: 'form-control input-sm filterrific-periodically-observed', placeholder: "Поиск"
						.form-group
							= f.text_field :with_statusdate_between, class: 'form-control input-sm filterrific-periodically-observed input-daterange', placeholder: "Дата изменения статуса"
						.form-group
							= f.text_field :with_created_at_between, class: 'form-control input-sm filterrific-periodically-observed input-daterange', placeholder: "Дата создания"
						.form-group
							label Метраж
							.row
								.col-md-6
									.input-group.input-group-sm
										= f.text_field :with_footage_gt, {class: 'form-control filterrific-periodically-observed', placeholder: "от"}
										span.input-group-addon
											| м
											sup 2
								.col-md-6
									.input-group.input-group-sm
										= f.text_field :with_footage_lt, {class: 'form-control filterrific-periodically-observed', placeholder: "до"}
										span.input-group-addon
											| м
											sup 2
						
						.form-group
							= check_box_tag("filterrific[with_manager_id]", current_user.id, current_user.id == @filterrific.with_manager_id, {id: 'only_my'})
							| &nbsp;
							label for='only_my' только мои
						.form-group
							label Типы помещений
							.checkbox-list
								- RoomType.all.each do |room_type|
									label
										= check_box_tag("filterrific[with_room_types][]", room_type.id, room_type.id.in?(@filterrific.with_room_types || []))
										= room_type.title

					.text-right style="padding-top:8px"
						.pull-left
							= render_filterrific_spinner
						= link_to "Сбросить", reset_filterrific_url, class:"remove btn btn-sm default"
						| &nbsp;
						button.btn.btn-sm.blue-hoki type="submit" Применить