- if lead.errors.any?
  - lead.errors.full_messages.each do |message|
    .alert.alert-danger.alert-dismissable
      button.close[type="button" data-dismiss="alert" aria-hidden="true"]
      = message

= form_for(lead, :html => {class: 'form-horizontal form-row-seperated'}) do |f|
  .portlet.light
    .portlet-title
      .caption
        i.fa.fa-group.font-green-sharp
        span.caption-subject.font-green-sharp.bold.uppercase
          = lead.title || "Новый клиент"
      = render partial: 'layouts/common/form/actions', :locals => {:model => lead}
    .portlet-body
      .form-group
        = f.label :title, class: "col-md-2 control-label"
        .col-md-10
          = f.text_field :title, :class=>'form-control'
      .form-group
        = f.label :footage, class: "col-md-2 control-label"
        .col-md-10
          = f.text_area :footage, :class=>'form-control'
      .form-group
        = f.label :contact, class: "col-md-2 control-label"
        .col-md-10
          = f.text_area :contact, :class=>'form-control'
      .form-group
        = f.label :requirements, class: "col-md-2 control-label"
        .col-md-10
          = f.text_area :requirements, :class=>'form-control'
      .form-group
        = f.label :plan, class: "col-md-2 control-label"
        .col-md-10
          = f.text_area :plan, :class=>'form-control'
      .form-group
        = f.label :city_id, class: "col-md-2 control-label"
        .col-md-10
          = f.collection_select :city_id, current_user.cities, :id, :title, {}, {:class => 'form-control'}
      - if lead.new_record? || current_user.is_admin
        .form-group
          = f.label :lead_source_id, class: "col-md-2 control-label"
          .col-md-10
            = f.collection_select :lead_source_id, LeadSource.all, :id, :title, {}, :class=>'form-control'
        .form-group
          = f.label :manager_id, class: "col-md-2 control-label"
          .col-md-10
            = f.collection_select :manager_id, User.all, :id, :first_name, {selected: (lead.new_record? ? current_user.id : lead.manager_id)}, :class=>'form-control'
      .form-group
        = f.label :room_types, class: "col-md-2 control-label"
        .col-md-10
          = hidden_field_tag "lead[room_type_ids][]"
          .checkbox-list
            - RoomType.all.each do |room_type|
              label
                = check_box_tag("lead[room_type_ids][]", room_type.id, room_type.id.in?(lead.room_type_ids))
                = room_type.title

      - if not lead.new_record?
        .form-group
          = f.label :status_id, class: "col-md-2 control-label"
          .col-md-10
            = f.collection_select :status_id, Status.all, :id, :name, {}, :class=>'form-control'
        .form-group
          = f.label :history, class: "col-md-2 control-label"
          .col-md-10
            = f.text_area :history, :class=>'form-control'