.table-scrollable
  table#leads_list.table.table-hover.table-bordered
    tbody
      - if not @leads.first.nil?
        tr.text-center
          td.bg-grey-cararra colspan="7"
            i.fa.fa-calendar-o
            | &nbsp;
            = @leads.first.created_at.strftime '%d.%m.%Y'
            = ' ('+Lead.where('YEAR(created_at) = YEAR(:cr_at) AND MONTH(created_at) = MONTH(:cr_at) AND DAY(created_at) = DAY(:cr_at)', { cr_at: @leads.first.created_at}).count.to_s+')'
        - @leads.each do |lead|
          - if (defined? @prev_date) && lead.created_at.to_date.to_s != @prev_date.to_s
            tr.text-center
              td.bg-grey-cararrad colspan="7"
                i.fa.fa-calendar-o
                | &nbsp;
                = lead.created_at.strftime '%d.%m.%Y'
                = ' ('+Lead.where('YEAR(created_at) = YEAR(:cr_at) AND MONTH(created_at) = MONTH(:cr_at) AND DAY(created_at) = DAY(:cr_at)', { cr_at: lead.created_at}).count.to_s+')'
          - @prev_date = lead.created_at.to_date
          tr class=(lead.status_color if lead.status_color)
            td
              = link_to leads_path(:with_contact_like => lead.id), class: "pull-right btn btn-xs red-intense", target: "_blank" do
                = "#{lead.phone_repeat || 1}x"
              = link_to edit_lead_path(lead), "data-target"=>"#modal", "data-toggle"=>"modal", class: "font-primary" do
                i.fa.fa-link
              | &nbsp;
              = editable lead, :title, data: {:emptytext => "Б/Н"}, value: select_search(lead.title, @search_query)
              br
              - if current_user.is_admin
                = editable lead, :lead_source_id, type: "select", data: { source: LeadSource.select('id as value, title as text'), :emptytext => "источник"}, class: "btn btn-xs default purple-stripe"
                br
                = editable lead, :manager_id, type: "select", data: { source: Hash[*User.pluck(:id, :first_name).flatten], :emptytext => "менеджер" }, class: "btn btn-xs default red-stripe"
              - else
                span class="btn btn-xs default purple-stripe"
                  = lead.lead_source.title if lead.lead_source
                br
                span class="btn btn-xs default red-stripe"
                  = lead.manager.first_name if lead.manager
            td
              span.pull-right
                = editable lead, :footage, data: {:emptytext => "метраж"}, value: select_search(lead.footage, @search_query)
                |  м
                sup 2
            td.contact
              = editable lead, :contact, data: {:emptytext => "контакты"}, type: :textarea, value: raw(select_search(lead.contact, @search_query))
            td
              span class="editable btn btn-xs default green-stripe" data-emptytext="тип" data-name="room_type_ids" data-model="lead" data-type="checklist" data-value=(lead.room_types.pluck(:id).to_json) data-placeholder="Типы помещений" data-source=(Hash[RoomType.pluck(:id, :title)].to_json) data-url=(lead_path(lead))
                - lead.room_types.each do |room_type|
                  = room_type.title
                  br
            td.requirements
              = editable lead, :requirements, data: {:emptytext => "требования"}, type: :textarea, value: raw(select_search(lead.requirements, @search_query))
            td.history
              = editable lead, :history, type: :textarea, data: {:emptytext => "история"}, value: lead.history.nil? ? '' : raw(select_search(lead.history, @search_query))
            td
              = editable lead, :statusdate, type: :date, data: {:emptytext => "дата статуса"}, value: lead.statusdate.strftime('%d.%m.%Y'), class: 'badge badge-roundless status_date'
              br
              = editable lead, :status_id, type: "select", data: { source: Hash[*Status.pluck(:id, :name).flatten], :emptytext => "статус"}, class: "btn btn-xs default yellow-stripe"
              br
              = editable lead, :plan, type: :textarea, value: lead.plan.nil? ? '' : raw(select_search(lead.plan, @search_query)), data: {:emptytext => "план"}

#ajax_loading_text
= paginate @leads

= content_for :foot do
  javascript:
    window.statuses = #{raw Hash[*Status.pluck(:id, :color).flatten].to_json};