= render partial: 'filter', locals: { filterrific: @filterrific }

.portlet.light
  .portlet-body
    .table-toolbar
      .btn-group
        = link_to new_lead_path, :class => "btn btn-sm green", "data-target"=>"#modal", "data-toggle"=>"modal" do
          | Добавить 
          i.fa.fa-plus

      .btn-group.pull-right
        = link_to "javascript:;", class: "btn btn-circle grey-salsa btn-sm dropdown-toggle", data: {toggle:"dropdown", hover:"dropdown", "close-others"=>"true" } do
          | Менеджеры 
          i.fa.fa-angle-down
        ul.dropdown-menu.pull-right#manager_filter
          li class=("active" if @filterrific.with_manager_id.blank?)
            = link_to '#' do
              | Все
              span.badge.grey-salsa
                = Lead.all.count
          - @managers_for_filter.each do |manager|
            li class=("active" if @filterrific.with_manager_id == manager.manager_id)
              = link_to '#', data: {user_id: manager.manager_id} do
                = manager.first_name
                span.badge.grey-salsa
                  = manager.counter
    #filterrific_results
      = render partial: 'list', locals: { leads: @leads }
