<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">id</Data></Cell>
        <Cell><Data ss:Type="String">title</Data></Cell>
        <Cell><Data ss:Type="String">footage</Data></Cell>
        <Cell><Data ss:Type="String">contact</Data></Cell>
        <Cell><Data ss:Type="String">requirements</Data></Cell>
        <Cell><Data ss:Type="String">plan</Data></Cell>
        <Cell><Data ss:Type="String">lead_source_id</Data></Cell>
        <Cell><Data ss:Type="String">manager_id</Data></Cell>
        <Cell><Data ss:Type="String">status_id</Data></Cell>
        <Cell><Data ss:Type="String">created_at</Data></Cell>
        <Cell><Data ss:Type="String">updated_at</Data></Cell>
        <Cell><Data ss:Type="String">history</Data></Cell>
        <Cell><Data ss:Type="String">statusdate</Data></Cell>
        <Cell><Data ss:Type="String">phone_repeat</Data></Cell>
        <Cell><Data ss:Type="String">city_id</Data></Cell>
      </Row>
    <% @leads.each do |lead| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= lead.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lead.title %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lead.footage %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lead.contact %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lead.requirements %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lead.plan %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lead.lead_source_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lead.manager_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lead.status_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lead.created_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lead.updated_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lead.history %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lead.statusdate %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lead.phone_repeat %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lead.city_id %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>