p#notice
  = notice
p
  strong
    | Title:
  = @lead.title
p
  strong
    | Footage:
  = @lead.footage
p
  strong
    | Contact:
  = @lead.contact
p
  strong
    | Requirements:
  = @lead.requirements
p
  strong
    | Plan:
  = @lead.plan
= link_to 'Edit', edit_lead_path(@lead)
|  | 
= link_to 'Back', leads_path
