/***
Social Icons
***/

.social-icons {
    padding: 0;
    margin:0;

    @include clearfix();

    li {
        float:left;
        display:inline;
        list-style:none;
        margin-right:5px;
        margin-bottom:5px;
        text-indent:-9999px;

        > a {
            @include border-radius(2px);
            width:28px;
            height:28px;
            display:block;
            background-position:0 0;
            background-repeat:no-repeat;
            transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
        }

        &:hover {
            > a {
                background-position:0 -38px;
            }
        }

        .amazon {background: url(image_path("metronic/theme/social/amazon.png")) no-repeat;}
        .behance {background: url(image_path("metronic/theme/social/behance.png")) no-repeat;}
        .blogger {background: url(image_path("metronic/theme/social/blogger.png")) no-repeat;}
        .deviantart {background: url(image_path("metronic/theme/social/deviantart.png")) no-repeat;}
        .dribbble {background: url(image_path("metronic/theme/social/dribbble.png")) no-repeat;}
        .dropbox {background: url(image_path("metronic/theme/social/dropbox.png")) no-repeat;}
        .evernote {background: url(image_path("metronic/theme/social/evernote.png")) no-repeat;}
        .facebook {background: url(image_path("metronic/theme/social/facebook.png")) no-repeat;}
        .forrst {background: url(image_path("metronic/theme/social/forrst.png")) no-repeat;}
        .github {background: url(image_path("metronic/theme/social/github.png")) no-repeat;}
        .googleplus {background: url(image_path("metronic/theme/social/googleplus.png")) no-repeat;}
        .jolicloud {background: url(image_path("metronic/theme/social/jolicloud.png")) no-repeat;}
        .last-fm {background: url(image_path("metronic/theme/social/last-fm.png")) no-repeat;}
        .linkedin {background: url(image_path("metronic/theme/social/linkedin.png")) no-repeat;}
        .picasa {background: url(image_path("metronic/theme/social/picasa.png")) no-repeat;}
        .pintrest {background: url(image_path("metronic/theme/social/pintrest.png")) no-repeat;}
        .rss {background: url(image_path("metronic/theme/social/rss.png")) no-repeat;}
        .skype {background: url(image_path("metronic/theme/social/skype.png")) no-repeat;}
        .spotify {background: url(image_path("metronic/theme/social/spotify.png")) no-repeat;}
        .stumbleupon {background: url(image_path("metronic/theme/social/stumbleupon.png")) no-repeat;}
        .tumblr {background: url(image_path("metronic/theme/social/tumblr.png")) no-repeat;}
        .twitter {background: url(image_path("metronic/theme/social/twitter.png")) no-repeat;}
        .vimeo {background: url(image_path("metronic/theme/social/vimeo.png")) no-repeat;}
        .wordpress {background: url(image_path("metronic/theme/social/wordpress.png")) no-repeat;}
        .xing {background: url(image_path("metronic/theme/social/xing.png")) no-repeat;}
        .yahoo {background: url(image_path("metronic/theme/social/yahoo.png")) no-repeat;}
        .youtube {background: url(image_path("metronic/theme/social/youtube.png")) no-repeat;}
        .vk {background: url(image_path("metronic/theme/social/vk.png")) no-repeat;}
        .instagram {background: url(image_path("metronic/theme/social/instagram.png")) no-repeat;}
        .reddit {background: url(image_path("metronic/theme/social/reddit.png")) no-repeat;}
        .aboutme {background: url(image_path("metronic/theme/social/aboutme.png")) no-repeat;}
        .flickr {background: url(image_path("metronic/theme/social/flickr.png")) no-repeat;}
        .foursquare {background: url(image_path("metronic/theme/social/foursquare.png")) no-repeat;}
        .gravatar {background: url(image_path("metronic/theme/social/gravatar.png")) no-repeat;}
        .klout {background: url(image_path("metronic/theme/social/klout.png")) no-repeat;}
        .myspace {background: url(image_path("metronic/theme/social/myspace.png")) no-repeat;}
        .quora {background: url(image_path("metronic/theme/social/quora.png")) no-repeat;}
    }

    &.social-icons-color {
        > li {
            > a {
                opacity: 0.7;
                background-position:0 -38px !important;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &.social-icons-circle {
        > li {
            > a {
                border-radius: 25px !important;
            }
        }
    }

}

/***
Inline Social Icons
***/

.social-icon {
    display:inline-block !important;
    width:28px;
    height:28px;
    background-position:0 0;
    background-repeat:no-repeat;
    @include border-radius(2px);
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;

    &.social-icon-circle {
        border-radius: 25px !important;
    }
}

.social-icon {
    &.amazon {background: url(image_path("metronic/theme/social/amazon.png")) no-repeat;}
    &.behance {background: url(image_path("metronic/theme/social/behance.png")) no-repeat;}
    &.blogger {background: url(image_path("metronic/theme/social/blogger.png")) no-repeat;}
    &.deviantart {background: url(image_path("metronic/theme/social/deviantart.png")) no-repeat;}
    &.dribbble {background: url(image_path("metronic/theme/social/dribbble.png")) no-repeat;}
    &.dropbox {background: url(image_path("metronic/theme/social/dropbox.png")) no-repeat;}
    &.evernote {background: url(image_path("metronic/theme/social/evernote.png")) no-repeat;}
    &.facebook {background: url(image_path("metronic/theme/social/facebook.png")) no-repeat;}
    &.forrst {background: url(image_path("metronic/theme/social/forrst.png")) no-repeat;}
    &.github {background: url(image_path("metronic/theme/social/github.png")) no-repeat;}
    &.googleplus {background: url(image_path("metronic/theme/social/googleplus.png")) no-repeat;}
    &.jolicloud {background: url(image_path("metronic/theme/social/jolicloud.png")) no-repeat;}
    &.last-fm {background: url(image_path("metronic/theme/social/last-fm.png")) no-repeat;}
    &.linkedin {background: url(image_path("metronic/theme/social/linkedin.png")) no-repeat;}
    &.picasa {background: url(image_path("metronic/theme/social/picasa.png")) no-repeat;}
    &.pintrest {background: url(image_path("metronic/theme/social/pintrest.png")) no-repeat;}
    &.rss {background: url(image_path("metronic/theme/social/rss.png")) no-repeat;}
    &.skype {background: url(image_path("metronic/theme/social/skype.png")) no-repeat;}
    &.spotify {background: url(image_path("metronic/theme/social/spotify.png")) no-repeat;}
    &.stumbleupon {background: url(image_path("metronic/theme/social/stumbleupon.png")) no-repeat;}
    &.tumblr {background: url(image_path("metronic/theme/social/tumblr.png")) no-repeat;}
    &.twitter {background: url(image_path("metronic/theme/social/twitter.png")) no-repeat;}
    &.vimeo {background: url(image_path("metronic/theme/social/vimeo.png")) no-repeat;}
    &.wordpress {background: url(image_path("metronic/theme/social/wordpress.png")) no-repeat;}
    &.xing {background: url(image_path("metronic/theme/social/xing.png")) no-repeat;}
    &.yahoo {background: url(image_path("metronic/theme/social/yahoo.png")) no-repeat;}
    &.youtube {background: url(image_path("metronic/theme/social/youtube.png")) no-repeat;}
    &.vk {background: url(image_path("metronic/theme/social/vk.png")) no-repeat;}
    &.instagram {background: url(image_path("metronic/theme/social/instagram.png")) no-repeat;}
    &.reddit {background: url(image_path("metronic/theme/social/reddit.png")) no-repeat;}
    &.aboutme {background: url(image_path("metronic/theme/social/aboutme.png")) no-repeat;}
    &.flickr {background: url(image_path("metronic/theme/social/flickr.png")) no-repeat;}
    &.foursquare {background: url(image_path("metronic/theme/social/foursquare.png")) no-repeat;}
    &.gravatar {background: url(image_path("metronic/theme/social/gravatar.png")) no-repeat;}
    &.klout {background: url(image_path("metronic/theme/social/klout.png")) no-repeat;}
    &.myspace {background: url(image_path("metronic/theme/social/myspace.png")) no-repeat;}
    &.quora {background: url(image_path("metronic/theme/social/quora.png")) no-repeat;}

    &:hover {
      background-position:0 -38px;
    }
}

.social-icon-color {
    opacity: 0.7;
    background-position:0 -38px !important;
    
    &:hover {
        opacity: 1;
    }
}