- if room_type.errors.any?
  - room_type.errors.full_messages.each do |message|
    .alert.alert-danger.alert-dismissable
      button.close[type="button" data-dismiss="alert" aria-hidden="true"]
      = message

= form_for(room_type, :html => {class: 'form-horizontal form-row-seperated'}) do |f|
  .portlet.light
    .portlet-title
      .caption
        span.caption-subject.font-green-sharp.bold.uppercase
          = room_type.id ? "#{room_type.title}" : "Новый тип помещения"

      = render partial: 'layouts/common/form/actions', :locals => {:model => room_type}
    .portlet-body
      .form-group
        label.col-md-2.control-label
          | Название: 
        .col-md-10
          = f.text_field :title, :class=>'form-control'