.portlet.light
  .portlet-title
    .caption class=("caption-md" if params[:controller] == 'admin')
      i.fa.fa-building-o.font-green-sharp
      span.caption-subject.font-green-sharp.bold.uppercase Типы помещений
    - if params[:controller] == 'admin'
      .actions
        = link_to new_room_type_path, class: "btn btn-circle btn-icon-only btn-default", "data-target"=>"#modal", "data-toggle"=>"modal" do
          i.fa.fa-plus
  .portlet-body
    div class=("scroller" if params[:controller] == 'admin') style=("height: 305px;" if params[:controller] == 'admin') data-always-visible=1 data-rail-visible1=0 data-handle-color="#D7DCE2"
      .table-scrollable.table-scrollable-borderless
        table.table.table-hover.table-light#room_types_list
          thead
            tr.uppercase
              th
                | ID
              th
                | Название
          tbody
            - room_types.each do |room_type|
              tr
                td
                  = link_to room_type.id, edit_room_type_path(room_type), :class => 'primary-link', "data-target"=>"#modal", "data-toggle"=>("modal" if params[:controller] != 'room_types')
                td
                  = room_type.title