h1 Listing room_types

table
  thead
    tr
      th Title
      th
      th
      th

  tbody
    - @room_types.each do |room_type|
      tr
        td = room_type.title
        td = link_to 'Show', room_type
        td = link_to 'Edit', edit_room_type_path(room_type)
        td = link_to 'Destroy', room_type, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Room type', new_room_type_path
