- if page.errors.any?
  - page.errors.full_messages.each do |message|
    .alert.alert-danger.alert-dismissable
      button.close[type="button" data-dismiss="alert" aria-hidden="true"]
      = message

= form_for(page, :html => {class: 'form-horizontal form-row-seperated'}) do |f|
  .portlet.light
    .portlet-title
      .caption
        span.caption-subject.font-green-sharp.bold.uppercase
          = page.id ? "#{page.title}" : "Новая страница"

      = render partial: 'layouts/common/form/actions', :locals => {:model => page}
    .portlet-body
      .form-group
        label.col-md-2.control-label
          | Название: 
        .col-md-10
          = f.text_field :title, :class=>'form-control'
      .form-group
        label.col-md-2.control-label
          | Slug: 
        .col-md-10
          = f.text_field :slug, :class=>'form-control'
      .form-group
        label.col-md-2.control-label
          | Meta description: 
        .col-md-10
          = f.text_field :meta_description, :class=>'form-control'
      .form-group
        label.col-md-2.control-label
          | Meta keywords: 
        .col-md-10
          = f.text_field :meta_keywords, :class=>'form-control'
      .form-group
        label.col-md-2.control-label
          | Сожержимое:
        .col-md-10
          = f.text_area :content, { :class=>'form-control', :data=> { provider: "summernote" }}