h1 Listing pages

table
  thead
    tr
      th Title
      th Content
      th Slug
      th Meta description
      th Meta keywords
      th
      th
      th

  tbody
    - @pages.each do |page|
      tr
        td = page.title
        td = page.content
        td = page.slug
        td = page.meta_description
        td = page.meta_keywords
        td = link_to 'Show', page
        td = link_to 'Edit', edit_page_path(page)
        td = link_to 'Destroy', page, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Page', new_page_path
