/
  Link to the "First" page
  - available local variables
    url:           url to the first page
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
- unless current_page.first?
  li.first
    / "next" class present for border styling in twitter bootstrap
    = link_to(url, :remote => remote) do
    	i class="fa fa-angle-double-left"