/
  Link to the "Next" page
  - available local variables
    url:           url to the next page
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
- unless current_page.last?
  li.next_page
    = link_to(url, { :rel => 'next', :remote => remote }) do
    	i class="fa fa-angle-right"