/
  Link to the "Previous" page
  - available local variables
    url:           url to the previous page
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
- unless current_page.first?
  li.prev
    = link_to(url, { :rel => 'next', :remote => remote }) do
    	i class="fa fa-angle-left"