#fixed-filter {
	position: fixed;
	left: 0;
	top: 202px;
	width: 310px;
	z-index: 1;
	opacity: 0;

	.toggle {
		position: absolute;
		right: -165px;
		padding: 0 25px;
		height: 40px;
		line-height: 40px;
		top: 0;
		background: #F7F7F7;
		@include border-radius($portlet-border-radius);
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border: 1px solid #e1e1e1;
		border-bottom-color: transparent;
		cursor: pointer;
	}

	.portlet {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		.scroller {
			height: 400px;
		}
		.input-group-addon {
			padding: 0;
		}
	}
}