.actions.btn-set
  - if !request.xhr?
    = link_to  :back, :class => "btn btn-default btn-circle" do
      i.fa.fa-angle-left
      | &nbsp; Назад
  = button_tag(type: 'submit', class: "btn green-haze btn-circle") do
    i.fa.fa-check
    | &nbsp; Сохранить
  = button_tag(type: 'submit', class: "btn green-haze btn-circle", name: "save_and_edit") do
    i.fa.fa-check-circle
    | &nbsp; Сохранить и продолжить
  - if not request.xhr?
    = link_to model, {method: :delete, data: {confirm: "Вы уверены?"}, class: "btn btn-danger btn-circle"} do
      i.fa.fa-trash
      | &nbsp; Удалить
  - else
    | &nbsp;
    a type="button" class="btn default btn-circle" data-dismiss="modal" aria-label="Close"
      span aria-hidden="true" &times;