= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {class: 'login-form'}) do |f|
  h3.form-title
    | Вход
  div.alert.alert-danger class=('display-hide' if !alert)
    button.close[data-close="alert" style="margin-top: 5px;"]
    span
      = alert ? alert : 'Введите имя пользователя и пароль'
  .form-group
    = f.label :email, 'Пользователь', :class=>'control-label visible-ie8 visible-ie9'
    .input-icon
      i.fa.fa-user
      = f.email_field :email, :autofocus => true, :class=>'form-control placeholder-no-fix', :placeholder=>'Пользователь'
  .form-group
    = f.label :password, 'Пароль', :class=>'control-label visible-ie8 visible-ie9'
    .input-icon
      i.fa.fa-lock
      = f.password_field :password, :class=>'form-control placeholder-no-fix', :placeholder=>'Пароль'
  .form-actions
    - if devise_mapping.rememberable?
      label.checkbox
        = f.check_box :remember_me
        | запомнить 
    = button_tag(type: 'submit', class: "btn green-haze pull-right") do
      | Вход 
      i.m-icon-swapright.m-icon-white
= render "devise/shared/links"
