// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/sstephenson/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require bootstrap-sprockets
//= require jquery.blockUI
//= require jquery.validate
//= require jquery.validate.additional-methods
//= require jquery.validate.localization/messages_ru
//= require metronic/plugins/jquery.slimscroll.min
//= require metronic/plugins/bootstrap-hover-dropdown
//= require metronic/plugins/jquery.cokie.min
//= require metronic/plugins/jquery.uniform.min
//= require metronic/metronic
//= require metronic/layout
//= require moment
//= require daterangepicker
//= require plugins/mediator
//= require plugins/filterrific
//= require sscrm
//= require jquery_nested_form
//= require moment/ru
//= require toastr
//= require select2
//= require select2_locale_ru

$(function() {
	window.mediator = new Mediator();

  Metronic.init();
  Layout.init();
  SSCrm.init();
})

function setInfiniteScroll(body_selector, tr_selector) {
  $(body_selector).infinitescroll({
    loading: {
      finishedMsg: '',
      msgText: '',
      msg: null,
      img: "<%= image_path('metronic/theme/ajax-loading.gif') %>",
      selector: '#ajax_loading_text',
    },
    navSelector: "ul.pagination",
    nextSelector: "ul.pagination a[rel=next]",
    itemSelector: tr_selector,
    appendCallback: true
  },function(elements) {
      mediator.publish('infinitescroll:loaded', elements);
  });
}

function renderImage(file, img) {

  // generate a new FileReader object
  var reader = new FileReader();

  // inject an image with the src url
  reader.onload = function(event) {
    the_url = event.target.result;
    $(img).attr('src', the_url);
  }
 
  // when the file is read it triggers the onload event above.
  reader.readAsDataURL(file);
}

var handleEmailCopy = function($selector) {
  var email_regex = /([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9._-]+)/gi;
  var clip = new ZeroClipboard($("#d_clip_button"));
  $selector.not('.copy_configured').each(function() {
    $(this)
      .html($(this).html().replace(email_regex, '<span class="copyable text-danger">$1<span class="copy_btn btn btn-xs btn-danger" data-clipboard-text="$1"><i class="fa fa-copy"></i></span></span>'))
      .addClass('copy_configured');
    var $copyBtn = $('.copy_btn', this);
    if ($copyBtn.length) {
      new ZeroClipboard($copyBtn);
      $copyBtn.on('click', function(e) {
        e.stopImmediatePropagation();
      })
    }
  });
}