//= require plugins/jquery.infinitescroll
//= require plugins/jquery.kinetic
//= require fancybox
//= require zeroclipboard
//= require jquery.form
//= require plugins/bootstrap-editable
//= require editable/rails

$(function() {
  var myMap, loadingObjectManager;

  mediator.subscribe('filter:updated', function() {
    if (myMap) {
      loadingObjectManager.reloadData();
    }
    setInfiniteScroll("#business_centers > tbody", "#business_centers > tbody > tr");
  });


  function init_map(){
    myMap = new ymaps.Map("map", {
      center:[59.938806, 30.381225],
      zoom: 11,
      controls: ['typeSelector', 'trafficControl', 'fullscreenControl']
    });
    myMap.controls.add(new ymaps.control.ZoomControl({options: { position: { right: 10, top: 50 }}}));

    loadingObjectManager = new ymaps.LoadingObjectManager('?bbox=%b',
      {   
        // Включаем кластеризацию.
        clusterize: true,
        // Опции кластеров задаются с префиксом cluster.
        clusterHasBalloon: false,
        viewportMargin: 1500
      });
    myMap.geoObjects.add(loadingObjectManager);

    // show page
    if (window.business_centers_show) {
      loadingObjectManager.objects.events.add(['add'], function(e) {
        var obj_coordinates = loadingObjectManager
          .objects
          .getById(e.get('objectId'))
          .geometry
          .coordinates;
        myMap.setCenter(obj_coordinates);
        myMap.setZoom(15);
      });
    }
  }

  var $map_toggle = $('#map_toggle');
  $map_toggle.on('click', function() {
    $('#map')
      .slideToggle()
      .promise()
      .done(function() {
        if (!myMap) {
          ymaps.ready(init_map);
        }
      });
    $(this).toggleClass('grey-cascade green');
    $.cookie('map_toggled', $.cookie('map_toggled') === 'false' ? 'true' : 'false');
  });

  if ($('#map').is(':visible')) {
    ymaps.ready(init_map);
  }

  setInfiniteScroll("#business_centers > tbody", "#business_centers > tbody > tr");


  $('.table-scrollable').kinetic({
    y: false,
    cursor: 'default',
    filterTarget: function(target) {
      return !$(target).is('a');
    }
  });

  var handleFancybox = function() {
    $("a.gallery").fancybox({
      'transitionIn'  : 'elastic',
      'transitionOut' : 'elastic',
      'speedIn'   : 600, 
      'speedOut'    : 200, 
      'overlayShow' : false,
      helpers: {
        thumbs: {
          width: 75,
          height: 75
        }
      }
    });
  }

  $('body').on('click', '.parse_source', function(e) {
    e.preventDefault();
    if ($(this).data('test')) {
      var url = $(this).parents('tr').find('td:first input').val()
        , test = true
        , $tab = $('#tab_parse_sources')
        , $table = $('#test_sources')
        , prom = $.get('/business_centers/parse_test', {url: url, bc_id: $(this).data('bc-id') });
    } else {
      var prom = $.get('/business_centers/'+$(this).data('bc-id')+'/parse')
        , $tab = $('#tab_rooms')
        , $table = $('#rooms_table');
    }
    $('.progress', $tab).toggleClass('hidden');
    prom
      .done(function (data) {
        $('.progress', $tab).toggleClass('hidden');
        if (test) {
          $('tr', $table).remove();
          $table.removeClass('hidden');
        } else {
          toastr.success('Количество импортированных помещений: <strong>'+data.success.length+'</strong>');
          $('tr.success', $table).remove();
        }
        $.each(data.success, function(i, tr) {
          $table.find('tbody').append($('<tr><td>'+tr.area+'</td><td>'+tr.price+'</td><td>'+tr.floor+'</td><td>'+(tr.type ? tr.type : '')+'</td>'+
            (test ? '' : '<td>Только что</td><td></td>')+'</tr>'));
        });
      })
      .fail(function (data) {
        toastr.error('Во время импорта произошла ошибка');
      })
  });

  $('body').on('change', '.parse_source_active', function(e) {
    if(this.checked) {
      toastr.info('Сохраните бизнес центр для импорта из добавленных источников.');
      $('.parse_source_active').not(this).removeAttr('checked').uniform('refresh');
    }
  });

  handleFancybox();

  var handleEmailCopy_bcs = function() {
    handleEmailCopy($('td.contact'));
  }

  handleEmailCopy_bcs();

  mediator.subscribe('filter:updated', function() {
    updateAjax();
  });

  mediator.subscribe('infinitescroll:loaded', function() {
    updateAjax();
  });

  $('body').on('submit', '.modal .bc_ajax_form', function(e) {
    e.preventDefault();
    var formData = new FormData($(this)[0]);
    if ($("[type=submit][clicked=true]", this).attr('name') != 'save_and_edit') {
      $('#modal').modal('hide');
    }
    $(this).ajaxSubmit({
      dataType: 'json',
      success: function(data) {
        if (data.status == 'ok') {
          toastr.success(data.notice);
          if (data.id && data.tr) {
             $('#business_centers tr[data-id='+data.id+']').replaceWith(data.tr);
             updateAjax();
          }
        }
      },
      error: function(data) {
        toastr.error('При сохранении бизнес центра произошла ошибка');
      }
    })
  })

  $('body').on('click', '.bc_ajax_form [type=submit]', function() {
    $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
    $(this).attr("clicked", "true");
  });

  var handleEditable = function() {
    $('.editable')
      .editable({
        clear: '',
        format:'dd.mm.yyyy',
        datepicker: {
          language: 'ru',
          weekStart: 1
        }
      })
      .on('shown', function(e, editable) {
        Metronic.initAjax();
      });
  }

  handleEditable();

  var handleRoomsDelete = function() {
    $('#business_centers').on('confirm:complete', '.remove_room', function(e, answer) {
      var $editable = $(this).siblings('.editable')
        , obj = {};
      if (!answer || !$editable.length) return false;
      obj[$editable.data('model')] = {};
      obj[$editable.data('model')][$editable.data('nested')+'_attributes'] = {
        '_destroy': 1,
        'id': $editable.data('nid')
      };
      $.ajax({
          url: $editable.data('url'),
          data: obj,
          method: 'PUT',
          dataType: 'json'
        })
        .done(function(data) {
          $editable.parent().parent().remove();
          toastr.success('Помещение успешно удалено');
        })
        .fail(function() {
          toastr.error('При удалении произошла ошибка');
        });
    });
  }

  handleRoomsDelete();

  $('.bc-hide').on('click', function(e) {
    e.preventDefault();
    var $tr = $(this).parents('tr');
    $tr
      .animate({opacity: 0})
      .promise()
      .done(function() {
        $tr.remove();
      });
  });

  var updateAjax = function() {
    handleEditable();
    handleRoomsDelete();
    handleFancybox();
    handleEmailCopy_bcs();
  }

  $(window).on('smartscroll', updateAjax);

  $('body').on('blur', '#new_business_center #business_center_address', function() {
    if (!ymaps) return;
    var myGeocoder = ymaps.geocode( $('#business_center_city_id option:selected').text()+' '+$('#business_center_address').val() )
      , fail = function() {
          toastr.error('Координаты бизнес центра не определены');
        };
    myGeocoder.then(
        function (res) {
            var geoObj = res.geoObjects.get(0)
              , coords;
            if (geoObj) {
              coords = geoObj.geometry.getCoordinates();
              $('#new_business_center #bc_lat_input').val(coords[0]);
              $('#new_business_center #bc_long_input').val(coords[1]);
              toastr.info('Координаты бизнес центра определены');
            } else {
              fail();
            }
        },
        function (err) {
            fail();
        }
    );
  });

  $('body').on('click', '#add_room', function(e) {
    e.preventDefault();
    var $tbody = $(this).parents('.bc_rooms:first').find('tbody').first()
      , newId = new Date().getTime()
      , $tr = $('tr.hidden', $tbody)
          .first()
          .clone(true)
          .removeClass('hidden');
    $('span', $tr).addClass('editable').each(function() {
      $(this).attr('data-name', '['+newId+']'+$(this).attr('data-name'));
    });
    $tr.appendTo($tbody);
    handleEditable();
    $('.editable', $tr).on('save', function(e, editable) {
      var data = editable.response;
      if (data.id && data.tr) {
         $('#business_centers tr[data-id='+data.id+']').replaceWith(data.tr);
         updateAjax();
      }
    });
  });
})