//= require plugins/jquery.infinitescroll
//= require plugins/bootstrap-editable
//= require editable/rails
//= require zeroclipboard
 //= require readmore

$(function() {
  mediator.subscribe('filter:updated', function() {
		setInfiniteScroll("#leads_list > tbody", "#leads_list > tbody > tr");
  });
	setInfiniteScroll("#leads_list > tbody", "#leads_list > tbody > tr");

	// $.fn.editable.defaults.mode = 'inline';
	$.fn.editable.defaults.emptytext = '---';

	$.fn.datepicker.dates['ru'] = {
			days: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
			daysShort: ["Вск", "Пнд", "Втр", "Срд", "Чтв", "Птн", "Суб"],
			daysMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
			months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
			monthsShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
			today: "Сегодня",
			clear: "Очистить",
			format: "dd.mm.yyyy",
			weekStart: 1
		};

	var handleEditable = function(elements) {
		var elements = typeof elements === 'undefined' ? $('body') : elements;
		$('.editable', elements)
			.filter(function(){ return !$(this).data('editable') } )
			.editable({
				clear: '',
        format:'dd.mm.yyyy',
				datepicker: {
					language: 'ru',
					weekStart: 1
				}
			})
			.on('shown', function(e, editable) {
				Metronic.initAjax();
				// remove br's
				var $inp = $('.editableform .editable-input > *').first();
				if ($inp.length) {
					var without_brs = $inp.val().replace(/<br\s*\/?>/mg,"\n");
					$inp.val($('<p>'+without_brs+'</p>').text());
				}
			})
			.on('save', function(e, params) {
				if ($(this).data('name') === 'status_id') {
					$(this)
						.parents('tr')
						.removeClass()
						.addClass(window.statuses[params.newValue]);
				}
			})
			.filter(function() { return $(this).parents('.history').length; })
			.on('shown', function (e, editable) {
				if (arguments.length == 2) {
					setTimeout(function() {
						editable.input.$input[0].selectionStart = 0;
						editable.input.$input[0].selectionEnd = 0;
						editable.input.$input[0].scrollTop = 0;
					}, 100);
				}
			});

		$('#leads_list .requirements .editable, #leads_list .history .editable', elements).readmore({
			collapsedHeight: 170,
			// blockCSS: '',
			moreLink: '<a href="#" class="btn btn-xs btn-default"><i class="fa fa-chevron-circle-down"></i></a>',
			lessLink: '<a href="#" class="btn btn-xs btn-default"><i class="fa fa-chevron-circle-up"></i></a>'
		});
	}

	var handleDropdownSelect = function() {
		$('#manager_filter a').on('click', function(e) {
			e.preventDefault();
			$(this).parent().siblings().removeClass('active');
			$(this).parent().addClass('active');
			$('#manager_filter_val').val($(this).data('user-id'));
		});
	}

	var handleEmailCopy_leads = function() {
		handleEmailCopy($('td.contact .editable'));
	}

	handleEditable();
	handleDropdownSelect();
	handleEmailCopy_leads();

	// mediator.subscribe('filter:updated', function() {
	// 	handleEditable();
	// 	handleEmailCopy_leads();
	// });

	mediator.subscribe('infinitescroll:loaded', function(elements) {
		handleEditable(elements);
		handleEmailCopy_leads();
	});
})