//= require summernote
//= require metronic/plugins/bootstrap-datetimepicker.min.js
//= require metronic/plugins/bootstrap-datetimepicker.ru.js

var SSCrm = function(){
	var handleColorPicker = function() {
		$dropdown = $("#colorPicker");
		$('.picker_toggle:not(.color_picker_init)').each(function() {
			var self = this;
			$(this).click(function() {
			    //get row ID
			    var id = $(this).closest("tr").children().first().html();
			    //move dropdown menu
			    $(this).after($dropdown);
			    $dropdown.data('status_id', $(this).data('id'));
			    //show dropdown
			    $(this).dropdown();
			});

			$(this).parent().find('span.theme-color-view').off('click').on('click', function() {
				var status_id = $(this).parents('#colorPicker').data('status_id');
					colors = $(this).attr("class").split(' '),
					color = '';

				$.each(colors, function(i, c) {
					if (c != 'theme-color-view') {
						color = c;
					}
				})

				$(self).parent().find('.picker_toggle[data-id='+status_id+']')
					.removeClass()
					.addClass(color)
					.addClass('picker_toggle')
					.html('');

				$(self).parent().find('input[name="status[color]"]')
					.val(color);
			});

			$(this).addClass('color_picker_init');
		})
	}

	var handleModalAjax = function() {
	  $('#modal').on('loaded.bs.modal', function () {
	    Metronic.initAjax();
	    SSCrm.initAjax();
	  });

	  $('#modal').on('hidden.bs.modal', function() {
	  	$('#modal .modal-content').html('<div class="text-center margin-top-20 margin-bottom-20"><%= image_tag('metronic/theme/ajax-loading.gif') %></div>');
	  });
	}

	var handleDaterangePickers = function() {
		$('input.input-daterange')
		.daterangepicker({
				autoUpdateInput: false,
				locale: {
					applyLabel: 'Применить',
					cancelLabel: 'Отмена',
					fromLabel: 'От',
					toLabel: 'До',
					customRangeLabel: 'Пользовательский',
					daysOfWeek: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
					monthNames: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
					firstDay: 1,
					format: 'DD/MM/YYYY'
				}
			})
			.on('apply.daterangepicker', function(ev, picker) {
				$(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
		  })
			.on('cancel.daterangepicker', function(ev, picker) {
				$(this).val('');
		  });
	}

	var handleSummernote = function() {
		$('[data-provider="summernote"]').summernote({height: 200 });
	}

	var handleDatetime = function() {
		$(".form_datetime").datetimepicker({
	        autoclose: true,
	        language: "ru",
	        isRTL: Metronic.isRTL(),
	        format: "dd MM yyyy - hh:ii",
	        pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left")
	    });
	}

	var handleNotifications = function() {
		toastr.options.closeButton = true;
		var check = function() {
			$.ajax('/notifications.json')
				.done(function(data) {
					$.each(data, function(i, notifn) {
						toastr.info(notifn.text, notifn.lead ? notifn.lead.title : null)
					})
				})
		}
		<%= "check();setInterval(check, 15000);" if Rails.env.production? %>
	}

	var handleAjaxSelect = function() {
		$("input[data-ajax--url]").each(function() {
			$(this).select2({
			  ajax: {
			  	url: $(this).data('ajax--url'),
			    dataType: 'json',
			    delay: 250,
			    data: function (q) {
			      return {
			        q: q
			      };
			    },
			    results: function (data) {
			      return {
			        results: data
			      };
			    },
			    cache: true
			  },
			  minimumInputLength: 1
			});
		});
	}

	var handleBCCoordsEdit = function() {
		var bcMap;

		$(document).off('click', '#change_bc_coords').on('click', '#change_bc_coords', function(e) {
			e.preventDefault();
			var self = this;
			if (bcMap) return;
			$('#bc_coords_map')
			  .stop()
			  .slideToggle()
			  .promise()
			  .done(function() {
			    var coords = ($('#bc_lat_input').val() && $('#bc_long_input').val()) ? [$('#bc_lat_input').val(), $('#bc_long_input').val()] : [59.938806, 30.381225];

			    bcMap = new ymaps.Map("bc_coords_map", {
			      center: coords,
			      zoom:11
			    });

			    var placemark = new ymaps.Placemark(coords, {}, { draggable: true });

			    placemark.events.add('dragend', function (e) {
			      var c = this.geometry.getCoordinates();
			      $('#bc_lat_input').val(c[0].toFixed(4));
			      $('#bc_long_input').val(c[1].toFixed(4));
			    },placemark);
			    bcMap.events.add('click', function(e) {
			    	placemark.geometry.setCoordinates(e.get('coords'));
			    })

			    bcMap.geoObjects.add(placemark);
			  });
		})
	}

	return {
		init: function() {
			handleModalAjax();

			handleColorPicker();
			handleDaterangePickers();
			handleSummernote();
			handleDatetime();
			handleNotifications();
			handleAjaxSelect();
			handleBCCoordsEdit();

		},
		initAjax: function() {
			handleColorPicker();
			handleDaterangePickers();
			handleSummernote();
			handleDatetime();
			handleAjaxSelect();
			handleBCCoordsEdit();
		}
	}
}()