- if city.errors.any?
  - city.errors.full_messages.each do |message|
    .alert.alert-danger.alert-dismissable
      button.close[type="button" data-dismiss="alert" aria-hidden="true"]
      = message

= form_for(city, :html => {class: 'form-horizontal form-row-seperated'}) do |f|
  .portlet.light
    .portlet-title
      .caption
        span.caption-subject.font-green-sharp.bold.uppercase
          = city.id ? "#{city.title}" : "Новый город"

      = render partial: 'layouts/common/form/actions', :locals => {:model => city}
    .portlet-body
      .form-group
        label.col-md-2.control-label
          | Название: 
        .col-md-10
          = f.text_field :title, :class=>'form-control'