.portlet.light
  .portlet-title
    .caption class=("caption-md" if params[:controller] == 'admin')
      i.fa.fa-bank.font-green-sharp
      span.caption-subject.font-green-sharp.bold.uppercase Города
    - if params[:controller] == 'admin'
      .actions
        = link_to new_city_path, class: "btn btn-circle btn-icon-only btn-default", "data-target"=>"#modal", "data-toggle"=>"modal" do
          i.fa.fa-plus
  .portlet-body
    div class=("scroller" if params[:controller] == 'admin') style=("height: 305px;" if params[:controller] == 'admin') data-always-visible=1 data-rail-visible1=0 data-handle-color="#D7DCE2"
      .table-scrollable.table-scrollable-borderless
        table.table.table-hover.table-light#cities_list
          thead
            tr.uppercase
              th
                | ID
              th
                | Название
          tbody
            - cities.each do |city|
              tr
                td
                  = link_to city.id, edit_city_path(city), :class => 'primary-link', "data-target"=>"#modal", "data-toggle"=>("modal" if params[:controller] != 'cities')
                td
                  = city.title