// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#colorPicker {
	padding: 20px 15px;
	min-width: inherit;
	h3 {
	  margin: 2px 0 8px 0;
	  padding-left: 6px;
	}
	.theme-color-view {
		margin: 0;
	}
	li.theme-color {
		@extend .clearfix;
		padding: 4px 6px;
	}
}

.picker_toggle {
	display: inline-block;
  border-radius: 10px !important;
  height: 20px;
  width: 20px;
  margin-top: 7px;
}