/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require simple-line-icons
 *= require fancybox
 */

$font-primary: #333333;

@import "bootstrap-sprockets";
@import "bootstrap";

// BEGIN THEME STYLES
@import 'metronic/scss/global/components-rounded.scss';
@import 'metronic/scss/global/plugins.scss';
@import 'metronic/scss/admin/layout3/layout.scss';
@import 'metronic/scss/admin/layout3/themes/default.scss';
// END THEME STYLES

@import 'metronic/uniform.default.scss';
@import 'daterangepicker-bs3';

@import "font-awesome-sprockets";
@import "font-awesome";

@import 'toastr';
@import 'select2';
@import 'select2-bootstrap';
@import 'select2-bootstrap';

@import 'sessions.scss';
@import 'business_centers.scss';
@import 'leads.scss';
@import 'admin.scss';
@import 'notifications.scss';

@import 'plugins/filter.scss';

.login .content .form-actions {
	border-bottom: none!important;
	padding-bottom: 15px!important;
}

.login .logo {
	margin-bottom: 12px;
}

.login .logo a {
	font-size: 24px;
	color: #fff;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

.page-logo a {
	display: inline-block;
	color: #444d58;
	font-size: 24px;
	margin: 29.5px 0 0 0;
	line-height: 24px;
	text-decoration: none;
}

.rotate {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);

	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;

	/* Should be unset in IE9+ I think. */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}


a.link_no_style {
	color: #333333;
	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}

.font-primary {
	color: $font-primary;
}

.no_br {
	word-break: normal!important;
}

#leads_list tr:nth-child(2) .editableform {
	max-height: 245px;
	overflow-y: auto;
}