@import 'summernote';

#filterrific_results {
	time {
	  font-size: 11px;
	  white-space: nowrap;
	}

	h4 {
		margin-top: 0;
	}

	img {
		width: 100%;
	}

	ul {
		padding-left: 16px;
	}
}

#map {
	margin-bottom: 15px;
	width:100%; height: 400px;
}

#ajax_loading_text {
	margin: 0 auto;
	width: 36px;
}

#bc_coords_map {
	height: 400px;	
}

#business_centers {
	word-break: break-all;

	.wid5 {
		max-width: 460px;
	}
	.wid3 {
		max-width: 275px;
	}
	.wid2 {
		max-width: 182px;
	}
}

.bc_rooms {
	.remove_room {
		position: absolute;
		opacity: 0;
		transition: opacity .5;
		-webkit-transition: opacity .5;
		-moz-transition: opacity .5;
	}
	tr:hover .remove_room {
		opacity: 1;
	}
}

@media(max-width: $screen-sm-max){
	#business_centers {
		word-break: normal;

		.wid5,
		.wid3,
		.wid2 {
			max-width: none;
		}
	}
}

@media print {
	#fixed-filter,
	.page-header,
	.page-head,
	.page-footer,
	.scroll-to-top,
	.table-toolbar,
	#business_centers h4 .pull-right,
	#business_centers h4 .label-info,
	#business_centers .wid2,
	.bc_rooms tfoot,
	img {
		display: none;
	}
  a[href]:after {
    content: none !important;
  }
}