@import "editable/bootstrap2-editable";

#leads_list {
	font-size: 12px;
	.form-control {
		font-size: 12px;
	}

	td {
		max-width: 183px;
		border-top: none;

		.btn[data-name=manager_id] {
			border-bottom: none;
		}
	}
	td a[data-readmore-toggle] {
		width: auto!important;
		float: right;
	}
}

.editable-popup {
	color: $font-primary;
}

.editable-click {
	border-bottom: none;
}

.status_date {
	float: right;
  margin: -8px;
}

.copyable {
	position: relative;
	display: inline-block;

	&:hover {
		.copy_btn {
			opacity: 1;
		}
	}

	.copy_btn {
		opacity: 0;
		position: absolute;
		right: -28px;
		top: -1px;
		-webkit-transition: opacity 1s ease-in-out;
		-moz-transition: opacity 1s ease-in-out;
		-ms-transition: opacity 1s ease-in-out;
		-o-transition: opacity 1s ease-in-out;
		transition: opacity 1s ease-in-out;
		&.zeroclipboard-is-hover {
			opacity: 1;
		}
	}
}