.portlet.light
  .portlet-title
    .caption class=("caption-md" if params[:controller] == 'admin')
      i.fa.fa-history.font-green-sharp
      span.caption-subject.font-green-sharp.bold.uppercase История
    - if params[:controller] == 'admin'
      .actions
        = link_to activities_path, class: "btn btn-circle btn-icon-only btn-default", target: "_blank" do
          i.fa.fa-link
  .portlet-body
    div class=("scroller" if params[:controller] == 'admin') style=("height: 305px;" if params[:controller] == 'admin') data-always-visible=1 data-rail-visible1=0 data-handle-color="#D7DCE2"
      .general-item-list
        - activities.each do |activity|
          .item
            .item-head
              .item-details
                - if activity.owner
                  = image_tag activity.owner.avatar.url(:thumb), class:"item-pic"
                  = link_to activity.owner.first_name, edit_user_path(activity.owner), :class => 'primary-link item-name', "data-target"=>"#modal", "data-toggle"=>"modal"
                span.item-label = l activity.updated_at, :format => '%d %B %Y, %H:%M'
              span.item-status
                - if activity.key.split('.').last == 'update'
                  span.badge.badge-empty.badge-success
                  |  обновлен
                - elsif activity.key.split('.').last == 'destroy'
                  span.badge.badge-empty.badge-danger
                  |  удален
                - else
                  span.badge.badge-empty.badge-warning
                  |  создан

            .item-body
              - if activity.trackable
                = link_to activity.trackable.title, eval("edit_#{activity.trackable_type.underscore}_path(activity.trackable)"), "data-target"=>"#modal", "data-toggle"=>"modal"
                small.pull-right = t activity.trackable.class.model_name.human
                - if not activity.parameters['obj'].nil?
                  - activity.parameters['obj'].each do |param|
                    - if param[0] != 'updated_at' && param[1][0].to_s != param[1][1].to_s
                      br
                      strong = activity.trackable.class.human_attribute_name(param[0])
                      | :&nbsp;
                      - if not param[1][0].blank?
                        small.text-danger = (param[1][0].is_a? String) ? param[1][0].html_safe : param[1][0]
                        | &nbsp;
                      small.text-success = (param[1][1].is_a? String) ? param[1][1].html_safe : param[1][1]
              - else
                | модель уже удалена
    - if params[:controller] != 'admin'
      = paginate activities