#modal.modal.fade aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" 
  .modal-dialog.modal-lg
    .modal-content
      .text-center.margin-top-20.margin-bottom-20
        = image_tag('metronic/theme/ajax-loading.gif')

.page-header
  .page-header-top
    .container
      .page-logo
        a href="/"
          | SimpleSolutions
          span style="color:#4db393" CRM
      a.menu-toggler[href="javascript:;"]
      .top-menu
        ul.nav.navbar-nav.pull-right
          li.dropdown.dropdown-language.dropdown-dark
            a.dropdown-toggle data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="javascript:;" 
              span.langname
                - if current_user.show_city(session).count == 1
                  = current_user.show_city(session).values.first
                - elsif current_user.show_city(session).count > 1
                  | Все города
            ul.dropdown-menu.dropdown-menu-default
              li
                = link_to 'Все города', change_showed_city_path(:city_id => '0'), :method => 'post'
              - current_user.cities.each do |city|
                li
                  = link_to city.title, change_showed_city_path(:city_id => city.id), :method => 'post'

          li.droddown.dropdown-separator
            span.separator

          li.dropdown.dropdown-user.dropdown-dark
            a.dropdown-toggle[href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"]
              = image_tag current_user.avatar.url(:thumb), class: 'img-circle'
              / img.img-circle[alt="" src="../../assets/admin/layout3/img/avatar9.jpg"]
              span.username.username-hide-mobile
                = current_user.name
            ul.dropdown-menu.dropdown-menu-default
              li
                = link_to(destroy_user_session_path, :method => :delete) do
                  i.icon-key
                  |  Выход 
  .page-header-menu
    .container
      .hor-menu
        ul.nav.navbar-nav
          li class=('active' if params[:controller] == 'leads')
            = link_to controller: "leads" do
              i.fa.fa-group
              |  Клиенты
          li class=('active' if params[:controller] == 'business_centers')
            = link_to controller: "business_centers" do
              i.fa.fa-building
              |  Бизнес центры
          li class=('active' if params[:controller] == 'notifications')
            = link_to controller: "notifications" do
              i.fa.fa-bell
              |  Напоминания
          - if admin?
            li class=('active' if params[:controller] == 'admin' && params[:action] == 'index')
              = link_to({controller: "admin"}) do
                i.fa.fa-wrench
                |  Администрирование
            li class=('active' if params[:controller] == 'admin' && params[:action] == 'statistics')
              = link_to controller: "admin", action: "statistics" do
                i.fa.fa-bar-chart
                |  Статистика
