doctype html
html[lang="ru"]
  head
    meta[charset="utf-8"]
    title
      - if @page_title
        = strip_tags @page_title
        |  - SsCrm
      - else
        | SsCrm

    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[content="width=device-width, initial-scale=1.0" name="viewport"]
    meta[http-equiv="Content-type" content="text/html; charset=utf-8"]
    link[href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"]
    = yield :head
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
    link[rel="shortcut icon" href="favicon.ico"]

  body
    = render "layouts/header"
    .page-container
      - if @page_title
        .page-head
          .container
            .page-title
              h1
                = @page_title.html_safe
      .page-content
        = yield :pre_container
        .container
          .row
            .col-md-12
              - if notice
                .alert.alert-info.alert-dismissable
                  button.close[type="button" data-dismiss="alert" aria-hidden="true"]
                  = notice
              - if alert
                .alert.alert-danger.alert-dismissable
                  button.close[type="button" data-dismiss="alert" aria-hidden="true"]
                  = alert
              = yield

    = render "layouts/footer"
    = javascript_include_tag 'application'
    = javascript_include_tag controller.controller_name
    = yield :foot
