doctype html
html[lang="ru"]
  head
    meta[charset="utf-8"]
    title SsCrm
    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[content="width=device-width, initial-scale=1.0" name="viewport"]
    meta[http-equiv="Content-type" content="text/html; charset=utf-8"]
    link[href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"]

    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
    link[rel="shortcut icon" href="favicon.ico"]
  body.login
    .logo
      a[href="/"]
        |  SimpleSolutions
        span[style="color:#FF3F3F"]
          | CRM
    .menu-toggler.sidebar-toggler

    .content
      = yield
    .copyright
      |  2014 © Metronic. Admin Dashboard Template.

    = javascript_include_tag 'application'
    = javascript_include_tag controller.controller_name
